[2021-01-27 19:33] UncleRic opened #1 "Unable to find 'LineChartData' in Demo Code"
I couldn't get once scenario to compile due to missing 'LineChartData'.
[code]

[2021-01-27 20:04] willdale commented on #1
Hey, sorry about that! I got a commit out of sync. In the demo there is a new branch called main-1.0.5 that is working.

[2021-01-27 20:15] willdale commented on #1
I've updated the link in the project to route to the working branch.

[2021-01-27 20:15] #1 closed

[2021-01-30 00:13] jeffgrann opened #2 "Grid disappears after navigating away and returning to a view containing a chart"
https://user-images.githubusercontent.com/2565267/106339873-e64da800-6265-11eb-8512-1ac09a251a84.mp4

[code]

[2021-01-30 00:22] jeffgrann opened #3 "ChartDataPoint xAxisLabels are scaled down too far with a large number of data points"
![SwiftUICharts-XLabels](https://user-images.githubusercontent.com/2565267/106340172-e8643680-6266-11eb-8a2d-435d4c96766e.png)

Same code as [this issue](https://github.com/willdale/SwiftUICharts/issues/2) except more data points added.

I'd like to be able to set the first and last x-axis labels and keep them the same size as the y-axis labels.

[2021-01-30 07:31] willdale commented on #2
Grid fixed in v1.0.6.

Thanks.

[2021-01-30 07:31] #2 closed

[2021-01-30 07:33] willdale commented on #3
This is now fixed in v1.0.6.

Another option would be to use the `xAxisLabels`. This is independent of the datapoints.

[code]

Thanks

[2021-01-30 07:33] #3 closed

[2021-01-30 17:07] jeffgrann commented on #2
Works like a champ. Thank you so much for this wonderful SwiftUI library. Version 1.0 is first class!

[2021-01-30 17:31] jeffgrann commented on #3
Thanks again. 😀

[2021-01-30 17:48] jeffgrann opened #4 "Setting the minimum and maximum values for y-axis on line charts?"
It seems that the y-axis values are automatically generated to fall within the minimum and maximum values in the data points.  Is it possible to set these values independently of the data?  Specifically, I'd like to set the minimum to zero.

[2021-01-31 08:46] willdale commented on #2
Excellent, glad you like it.

[2021-01-31 08:51] willdale commented on #4
If I understand the request, the new version (1.1.0) adds this functionality.

[code]

[2021-01-31 08:51] #4 closed

[2021-01-31 19:12] jeffgrann commented on #4
This did the trick. Thanks again. 😀

[2021-02-03 15:04] USBA opened #5 "Chart does not refresh on State change"
My enter view refreshes on `@State` change except the chart.

[code]

**The chart does not refresh until I drag on it.**

https://user-images.githubusercontent.com/19838220/106761981-635c9100-665b-11eb-914f-7d286c31ecd4.mov

[code]

Please fix this.
Thanks so much for this amazing SwiftUI library.

[2021-02-03 17:16] jeffgrann opened #6 "Set maximum baseline value."
I'd like to be able to set a maximum value for the baseline while computing the minimum value from the data points.

For example, if I set the maximum baseline value to 200, the baseline would be:

200 with data points of [250.0, 245.0, 238.0]

190 with data points of [250.0, 245.0, 238.0, 190.0]

Something like this:

[code]

This would print 200.0.

Changing var data = [250.0, 245.0, 238.0] to v

[2021-02-03 17:47] willdale commented on #5
Hi,

I believe this is because the data being passed into the environmentObject is not `@State`. This means that a change of the datas state won't cause the views state to change.

While I don't know what the function `chartDataPoints()` does, I've make one that returns `[ChartDataPoint]` .

There maybe a more elegant solution but without more info I don't know.

[code]

https://user-images.github

[2021-02-03 18:32] USBA commented on #5
This works. Thanks so much for the quick reply @willdale

[2021-02-03 18:32] #5 closed

[2021-02-03 20:51] willdale commented on #6
![Screenshot 2021-02-03 at 20 47 24](https://user-images.githubusercontent.com/63838770/106807613-3dd28600-6661-11eb-97ec-f969cc999219.png)

It's interesting, I can't get a case with an associated value to be selectable outside of the library.

![Screenshot 2021-02-03 at 20 47 54](https://user-images.githubusercontent.com/63838770/106807661-4cb93880-6661-11eb-9c96-5cd2bcb96274.png)

 Internally it

[2021-02-04 08:46] willdale commented on #6
It seams it was a matter of scope. New version 1.1.1 adds new case to Baseline Enum.

[code]

Thank you for your suggestions.

[2021-02-04 20:56] UncleRic opened #7 "I can only display LineChart once."
Environment: SwiftUI via Xcode 12.4

### I tried to redisplay the LineChart graph with new data; but additional renderings didn't happen.
One band-aid approach is to launch another LineChart graph in place of the original for the new data.
This works; but is totally inefficient for multiple sets of data; and I still can't re-render already-rendered LineCharts().
Which means I have to have a LineCh

[2021-02-04 21:37] willdale commented on #7
Hi,

You can just change the `[dataPoint]`.

[code]

Does this code work for you?

## View
[code]

## Object
[code]

Does this help?

[2021-02-04 21:59] jeffgrann commented on #6
Tried it out and it works great. Thanks again!

[2021-02-04 22:01] willdale commented on #6
No worries!

[2021-02-04 22:01] #6 closed

[2021-02-05 00:54] UncleRic commented on #7
It looks good.
I was able to switch data.
But I have over 200 graphs that I select via a wheel picker.
I want them to share the same chart; but with different data, obviously.
I'll stress test it and get back to you.
Thanks for the speedy reply!
I was prepping for a huge file otherwise.

[2021-02-05 02:19] USBA commented on #7
Hey @UncleRic, I had a similar issue.
Try @willdale's solution on the issue #5

[code]

In addition to @willdale's solution, add an `id` to the chart to force it to refresh when something changes.

[2021-02-05 09:48] willdale commented on #7
As an extension to what @USBA has said. Here's an example of it with a `Picker`.

The `TempData` lets you add some additional info for use in your view.

The `.tag(data.datapoints)` tells the `ForEach` which part of data you want to pass too `selection`.

## View
[code]

## Object
[code]

## DataModel
[code]

I'm working on a version-2 branch which should make these things easier. How ever there w

[2021-02-05 18:14] jeffgrann opened #8 "Is it possible to display the markerValue on the y-axis for yAxisPOI?"
Something like:

[code]

Which would produce this:

![yAxisPOI](https://user-images.githubusercontent.com/2565267/107072354-ff99ab80-67b3-11eb-862c-cdb343bc622e.png)

[2021-02-05 18:28] UncleRic commented on #7
I've studied your example.
You don't set the attributes, like the legend, chart style, etc.

I want to:
1) Customize the attributes (style, legend etc.).
    Most of the attributes are stagnate, however the 'metadata' & 'title' are specific to the data used.

2) After which, use  dynamic ChartDataPoints (as you demoed).

What I tried to do is to do #1 with the code you sent.
That's tying me in a k

[2021-02-05 19:54] willdale commented on #7
Hi,

You can change chart parameters on at any time and the fly.

[code]

[2021-02-05 20:10] willdale commented on #7
Updated with metadata.

[code]

[2021-02-06 16:36] UncleRic commented on #7
I play with it; thanks!

[2021-02-06 16:40] willdale commented on #7
If you can send me more code I can look more closely at it. I'm not super sure I understand the issue.

Have a great day.

[2021-02-06 17:35] willdale commented on #8
Added in V1.1.2.

[code]

options
[code]

[2021-02-07 15:08] jeffgrann commented on #8
Fantastic!

[2021-02-07 15:30] willdale commented on #8
No worries!

[2021-02-07 15:30] #8 closed

[2021-02-10 08:36] willdale commented on #7
I'm going to close this off but feel free to get in contact if you want help.

[2021-02-10 08:36] #7 closed

[2021-02-20 16:20] UncleRic opened #17 "Hey @UncleRic, I had a similar issue."
Hey @UncleRic, I had a similar issue.
Try @willdale's solution on the issue #5

[code]

In addition to @willdale's solution, add an `id` to the chart to force it to refresh when something changes.

_Originally posted by @USBA in https://github.com/willdale/SwiftUICharts/issues/7#issuecomment-773735883_

[2021-02-20 16:22] UncleRic commented on #17
I came back to this issue.
I merely added the id(UUID()) and BINGO!
... It works!  👍
I'll be sure to mention you all in my credits!
Thanks for your help!

[2021-02-20 16:22] #17 closed

[2021-02-20 16:36] willdale commented on #17
Thank you for letting us know what solved it.

Have a great day.

[2021-02-28 09:31] OguzYuuksel opened #21 "Modify text style on legend, labels etc.."
If labels, legends or other string values can be modified on view layer, not the data model layer. Users may have ability to modify chart view to adapt their screen.
Also when I wanted to add price unit, near my touch overlay data but in this structure it is not easy.
I think there may be some improvements to move some properties to view layer and have a simple data model layer.

[2021-02-28 11:13] willdale commented on #21
I've add units to the touch overlay, it's in the latest release - version 1.1.3.

## Example
[code]

I'll have a look and a think about the view layer vs model layer.

[2021-02-28 11:17] OguzYuuksel commented on #21
Thank you! This is the most useful SwiftUI charts lib among others. When I have free time I will try to understand source codes and think if I can contribute in someway.

[2021-02-28 12:14] willdale commented on #21
No worries! Glad you find it useful. Any contributions would be appreciated.

## View Layer vs Model Layer

The model can be updated from the view. If your xAxisLabels in data model are:

---

[code]
But you want to change them you can change them on the fly by:
[code]
---

I've just added another version 1.1.4 that fixes a small bug and now exposes the `ChartMetaData` to the api. This allows you

[2021-03-03 11:46] #21 closed

[2021-03-11 08:40] rainald opened #24 "Install issue"
I'm getting an error when I install SwiftUICharts which is:

"the Package.resolved file is most likely severely out-of-date and is preventing correct resolution; delete the resolved file and try again."

[2021-03-11 08:42] rainald commented on #24
Never mind fixed it with deleting an old chart library with the same name.

[2021-03-11 08:42] #24 closed

[2021-03-12 02:57] rainald opened #25 "multiline chart"
Is there a way to do multiline charts?

[2021-03-12 07:34] willdale commented on #25
Version 2 will have multiline charts. I hope to have it out within a week or so.

[2021-03-12 09:40] rainald commented on #25
Cool!

[2021-03-12 09:40] #25 closed

[2021-03-13 23:56] geeklingo opened #27 "X-Axis labels truncate"
The label text truncates, makes it a little harder to read at a glance as users would have to tap each bar to see the full text. Would be great to have an option to display X-axis labels rotated at n-degrees and showing full text (no truncating)

[2021-03-14 07:31] willdale commented on #27
This is fixed in version 2. I hope to have it out within a week.

![Image of Bar Chart](https://raw.githubusercontent.com/willdale/SwiftUICharts/version-2/Resources/images/BarCharts/BarChart.png)

[Version 2 ReadMe](https://github.com/willdale/SwiftUICharts/tree/version-2#swiftuicharts)

[2021-03-15 12:20] willdale commented on #27
Version 2 is released including the fix.

[2021-03-15 12:20] willdale commented on #25
Version 2 is released with multi line chart.

[2021-03-15 12:21] geeklingo commented on #27
Nice thanks

[2021-03-15 20:44] mgauthier opened #30 "Chart in ScrollView - Cannot initiate scroll from chart"
When I add a line chart with the touchoverlay enabled into a scrollview, I find that I can only scroll when I start the scroll gesture outside of the chart. Is this expected behavior?

[2021-03-15 20:52] willdale commented on #30
That is as I would expect, I can't think of a way to differentiate between the two touch instructions.

[2021-03-16 10:54] willdale commented on #30
The only implementation I can get to work is a `Button` in the `ScrollView` that turns on the `DragGesture` in `.touchOverlay`.

It's not the prettiest way of doing it but it would somewhat allow for what you want.

https://user-images.githubusercontent.com/63838770/111297601-b1df5100-8645-11eb-8afe-bbf39ef25163.mov

Let me know if you want this implemented or if you can think of a different way o

[2021-03-16 16:47] mgauthier commented on #30
Interesting, I'm curious to see the video, but I'm having trouble playing it

[2021-03-16 17:42] willdale commented on #30
No idea why you can't play it but here's a [link to a YouTube version](https://www.youtube.com/watch?v=uR8EN8qQ8HQ)

[2021-03-17 02:14] geeklingo opened #32 "Stacked Bar Chart doesn't work with 2 groups"
When you are wanting to do a stacked bar chart with a grouping of 2, the chart returns "No Data"

[2021-03-17 09:48] willdale commented on #32
This has been fixed in v2.0.2.

[2021-03-17 09:48] #32 closed

[2021-03-17 10:42] geeklingo opened #34 "Legend not showing all values on stacked bar chart"
I have a chart where i stack 5 different values. On the demo app, I can see all 3 legends being displayed on the graph (England, Wales & Scotland). But when I try to adapt to my data, I can only show 2 of the 5 in the legend.

Note: This is the legend only, the stacked graph is showing all 5 correctly.

[2021-03-17 10:43] geeklingo opened #35 "Feature Request: Ability to filter data"
Would be great if we could have a picker or something similar to be able to filter the data set.

[2021-03-17 10:44] geeklingo opened #36 "Feature Request: Table view"
Sometimes it's good to display the data table under the graph. Is there a way to achieve this with this library?

[2021-03-17 10:52] willdale commented on #36
I don't think that that is something that should be done in the library, I'm not sure how to deal with allowing flexible cell layouts. Could it not be done more easily from outside the library, just hook into the same that builds the data sets?

[2021-03-17 10:55] geeklingo commented on #36
Yeah, you are probably right. Thanks, I’ll take a look.

[2021-03-17 10:56] willdale commented on #35
In the demo app look at `Other -> Filtered Demo`.

Is that what you would like?

[2021-03-17 10:56] geeklingo commented on #34
Actually, maybe because I'm not setting the legendTag?
![image](https://user-images.githubusercontent.com/36504208/111456844-34116780-8763-11eb-9da7-05ed89bcf1ff.png)

[2021-03-17 10:56] willdale commented on #36
I'm open to discussion on it.

[2021-03-17 10:56] #36 closed

[2021-03-17 10:59] geeklingo commented on #35
Oh, just noticed that. Yeah something like that but not dates, maybe things like where you can group chunks of data (e.g. all open jobs etc..). I'll take a look at that code a little more.

[2021-03-17 11:04] geeklingo commented on #34
How do we set that attribute (legendtag)? I can't see any reference in the readme to it.

[2021-03-17 11:13] willdale commented on #34
The `legendTag` is a way of handling Legends  internally for the touch overlay, I'll see if I can remove it from the public API.

 The legends for `StackedBarChart` are taken from the `GroupingData`.

Can you post some code?

[2021-03-17 11:15] willdale commented on #35
The filtering is handled outside of the charts library. Before the `ChartData` is initialised you can run a `filter` or `predicate` to get the data points you need from your data store.

[2021-03-17 11:18] geeklingo commented on #34
I've got my grouping data like this. It must be working as the charts are showing the correct stacked bars and tapping on the bars is showing the correct group and value. It's just the legend that doesn't seem to be pulling all the values.
The only difference in my code and the demo is that I use a for loop to populate MultiBarChartDataPoint and Sets.

[code]

[2021-03-17 11:22] geeklingo commented on #34
Oh hahahaha nevermind, i'm such an idiot.
let groups : [GroupingData] =

I didn't have the full set in there.

[2021-03-17 11:22] #34 closed

[2021-03-17 11:22] willdale commented on #34
You got there a second before me.

[2021-03-17 12:06] geeklingo commented on #27
Can we please get this on the other bar charts as well? E.g. stacked

[2021-03-17 12:52] willdale commented on #27
Fixed in v2.1.0.

[2021-03-18 19:22] #35 closed

[2021-03-22 20:44] willdale commented on #30
Feel free to come back to this.

[2021-03-22 20:49] geeklingo commented on #27
Is there anything special I need to add to have it rotate 90 degrees on stacked? I get overlapping axis labels on stacked. Running 2.1.0.

[2021-03-22 20:51] willdale commented on #27
Can you send a screenshot?

[2021-03-22 20:53] geeklingo commented on #27
![IMG_E32B4524AFC1-1](https://user-images.githubusercontent.com/36504208/112056958-67f5ee00-8ba4-11eb-9fd4-0d10f3fa5a70.jpeg)

[2021-03-22 20:56] geeklingo commented on #27
Maybe a value like `xAxisRotation: <val>` in the return so the rotation can be custom?

[2021-03-22 21:04] willdale commented on #27
`xAxisLabelsFrom: .dataPoint(rotation: .degrees(90))`

You have it set to zero. Could that be it?

[2021-03-22 21:06] willdale commented on #27
<img width="1441" alt="Screenshot 2021-03-22 at 21 06 03" src="https://user-images.githubusercontent.com/63838770/112058436-803d1d00-8b52-11eb-8c4c-c2e5f6a9c114.png">

[2021-03-22 21:07] geeklingo commented on #27
Oh man, sorry, not sure how I missed that.

[2021-03-22 21:07] #27 closed

[2021-03-22 21:08] willdale commented on #27
No worries, glad its sorted.

[2021-03-23 09:22] wyk111wyk opened #38 "Is it possible to make line(bar) chart scrollable horizontally?"
Sometime the data is really too much  to show.
AND the infobox will be covered by yAxisPOI, as attachment shows
<img width="340" alt="截屏2021-03-23 下午5 27 08" src="https://user-images.githubusercontent.com/8171481/112124305-2c3b4280-8bfd-11eb-828d-53f14e389a89.png">
.

[2021-03-23 09:58] willdale commented on #38
Hi,

To make it scrollable, put it in a `ScrollView`.

The order of the `View Modifiers` changes the `zIndex` of the element so if you move the overlay down it should be on top.

https://user-images.githubusercontent.com/63838770/112128302-3558ef00-8bbe-11eb-89a4-bc41022c5a59.mov

[code]

[2021-03-23 10:06] wyk111wyk commented on #38
Is this the power of SwiftUI?

[2021-03-23 10:12] willdale commented on #38
I am super enjoying SwiftUI. Particularly after working on a appkit project.

[2021-03-23 11:29] wyk111wyk commented on #38
Well, after I put the chart in a scrollView, something went wrong when the line was drawing. Something wrong with height.
<img width="1440" alt="截屏2021-03-23 下午7 26 18" src="https://user-images.githubusercontent.com/8171481/112139666-07030000-8c0e-11eb-807a-76c839facd09.png">

[2021-03-23 11:39] willdale commented on #38
Have you got `.id(dataOne.id)` attached to the chart?

If you can, could you post the view code?

[2021-03-23 12:00] wyk111wyk commented on #38
Sure.
BTW, how can I use gradient color for FilledLineChart? I didn't find it in demo code.

struct RecordHistoryView: View {
<img width="349" alt="截屏2021-03-23 下午8 00 47" src="https://user-images.githubusercontent.com/8171481/112143159-7844b200-8c12-11eb-8993-31efce82f2c4.png">

    @State private var openRecordHistory: Bool = true
    let data : LineChartData = weekOfData()

    var body: some V

[2021-03-23 12:18] willdale commented on #38
[code]

[code]

[2021-03-23 12:21] willdale commented on #38
# Colour
[code]

[2021-03-23 12:25] wyk111wyk commented on #38
Thx, It works.
But well, the floatingInfoBox used too much space, can you fix the staticInfoBox?

[2021-03-23 12:31] willdale commented on #38
I missed the modifier order: move the `.infoBox(chartData: data)` to the bottom.

[2021-03-23 12:33] willdale commented on #38
Found a bug,. Fix soon.

[2021-03-23 12:37] willdale commented on #38
`.floatingInfoBox()` size fixed in v2.1.1.

[2021-03-23 12:48] USBA commented on #38
I was about to open an issue for this. Thanks @willdale, you're a treasure for the entire SwiftUI community.

[2021-03-23 12:50] wyk111wyk commented on #38
I can say this is the best Chart library by SwiftUI now, thx willdale.

[2021-03-23 13:01] willdale commented on #38
@USBA Glad everything is working for you and thank you for the kind words.

@wyk111wyk Wonderful, let me know if you come across any other issues.

[2021-03-23 13:01] #38 closed

[2021-03-23 13:49] wyk111wyk commented on #38
Hi, I'm coming again~
Is it possible to add the trend line for lineChart?

[2021-03-23 13:52] willdale commented on #38
Could you open another issue for it please.

[2021-03-23 13:54] wyk111wyk opened #39 "Is it possible to add the trend line for lineChart"
This is be a very useful feature for chart

[2021-03-23 14:04] willdale commented on #39
Would using a `MultiLineChart` do the trick?

There are different ways of calculating a trend line depending on what you're doing.

How would you like to be able to use it? ie from the perspective of initialization.

[2021-03-23 14:18] wyk111wyk commented on #39
I'm make an EV management software, so I'd like to demonstrate a line chart to show the relationship between battery decay and odometer.
In this given situation I think a trend line will be very useful to indicate the slope.

[2021-03-24 12:00] rsayfutdinov opened #40 "It is possible to add some sort of value modifiers for y-axis labels?"
I would like to transform the y-axis labels from [0,...,5] to something like ["ok","good",...,"poor"].
Is this possible?

[2021-03-24 12:07] willdale commented on #40
It's not currently possible as the labels are automatically generated. However, I could look to add it as an option as some point.

I can't give an ETA on when I can look at it but I'll add it to the ToDo.

[2021-03-26 02:16] UncleRic opened #41 "What is the minimum iOS Version that can run SwiftUICharts?"
My Xcode says it's iOS 14.0.
I was hoping for iOS 13.0 for my iPhone 6s Plus.

[2021-03-26 07:26] willdale commented on #41
iOS 14.0.

What version of charts are you using?

There are a couple things used that are only available in iOS 14.

All the accessibility uses the iOS 14 APIs rather than the now deprecated iOS 13 ones.

It looks like all the issues are surmountable it's just I'm not sure if or when I'll have time to look at it.

[2021-03-26 10:09] willdale commented on #39
I'm not sure what you mean by "trend line" that can't be achieved using a multi-line chart.

Can you clarify please?

[2021-03-26 10:27] wyk111wyk commented on #39
Something like this![image](https://user-images.githubusercontent.com/8171481/112618267-ea123b00-8e60-11eb-94b6-c50a38f87ead.jpeg)

[2021-03-26 12:01] BulatMukhutdinov opened #42 "Fix getXAxisLabels"
Hi, I am using your library and found the bug on `xAxisLabels` at `LineChartData`: in case of data set like this [1,3,4,4,4], three last entries would be stacked to the end. To fix this it is better to change it to
[code]

P.S. sorry for posting it as an issue and not PR.

[2021-03-26 12:02] BulatMukhutdinov opened #43 "Customize dot and markerType"
Please, provide an API to

customize markerType, especially color and stroke width.
customize DotStyle - ideally, accept view builder. At least change the way building dot. Now users could specify dot color and stroke. But it would be more flexible to set background color and radius and foreground color and radius.
Thanks

[2021-03-26 14:07] willdale commented on #43
ViewBuilder for the Dot is something that would have to wait until version 3 as it would require breaking changes to the API.

---

[code]
![Simulator Screen Shot - iPhone 12 Pro - 2021-03-26 at 14 00 36](https://user-images.githubusercontent.com/63838770/112643031-d1dbf500-8e3b-11eb-9157-7a6dbb9fdae1.png)

---

[code]

![2](https://user-images.githubusercontent.com/63838770/112643346-30a16e80-8e3

[2021-03-26 23:03] UncleRic commented on #41
I'm okay at my end.
Thanks.

[2021-03-26 23:03] #41 closed

[2021-03-27 06:44] BulatMukhutdinov commented on #43
I would like to draw a circle with a solid center and semi transparent borders
![image](https://user-images.githubusercontent.com/1418811/112712479-f50cb000-8ee0-11eb-8920-1f5c8a51bd35.png)

[2021-03-27 09:13] #39 closed

[2021-03-27 09:13] #40 closed

[2021-03-27 09:13] #42 closed

[2021-03-27 09:13] #43 closed

[2021-03-27 09:14] willdale commented on #43
As of v2.2.0 this is now possible using:

## Dot

[code]

![3](https://user-images.githubusercontent.com/63838770/112715375-ba524a00-8ed7-11eb-8bd6-6cfd00bc5006.png)

## Marker

[code]

Thanks

[2021-03-27 09:14] willdale commented on #42
Fixed in v2.2.0.

Thanks

[2021-03-27 09:14] willdale commented on #40
Custom Y Axis Labels added in v2.2.0.

It's not quite what you asked for but is allows for text in the y axis labels.

[code]

[code]

Thanks

[2021-03-27 09:14] willdale commented on #39
Linear trend line added in v2.2.0

The View Modifier probably needs to placed quite near chart.

[code]

Thanks

[2021-03-28 05:48] BulatMukhutdinov commented on #43
Perfect, thank you!

[2021-03-28 08:19] xremix opened #45 "FloatingInfoBox was not working with MultiLineChart"
This library is great! I try to use it in a current project but have some issues.

I tried to use the FloatingInfoBox with the MultiLineChart, but it made some trouble for me. For some reason it didn't show up, the Touch Overlay however worked like expected. Am I doing something wrong or is there an issue in the library? Here is my code:

[code]

[2021-03-28 09:22] willdale commented on #45
Add the `touchOverlay` view modifier.

[code]

The touch overlay is what detects the touch and sends it for relevant processing.

The results can then be displayed in `.headerBox`, `.floatingInfoBox `, `.infoBox` or in a place of your choosing using:

[code]

[2021-03-28 09:23] xremix commented on #45
@willdale could fix this by myself, thanks! And thanks for providing this great library

[2021-03-28 09:25] xremix commented on #45
@willdale this seem to make it fix, thanks! Had an issue with understanding how touch and float works together. Thanks for taking the time, the amazing fast response and providing this awesome library! Really underrated.

[2021-03-28 18:25] rsayfutdinov commented on #40
🚀 Awesome! Thank you!

[2021-03-30 16:03] BulatMukhutdinov opened #47 "FilledLineChart stroke"
I am trying to draw FilledLineChart with a solid stroke on the top.
Something like this
![image](https://user-images.githubusercontent.com/1418811/113019733-966a5f00-918a-11eb-8be1-ac2cc672798c.png)

Is it possible to do with your lib?

[2021-03-31 09:09] willdale commented on #47
This has been added in v2.3.0.

[code]

![Simulator Screen Shot - iPhone 12 Pro - 2021-03-31 at 10 08 36](https://user-images.githubusercontent.com/63838770/113120079-1cc58600-9209-11eb-9490-c9f24451a76b.png)

[2021-03-31 09:09] #47 closed, assigned to nobody

[2021-04-09 14:59] jhoughjr opened #50 "Can't find ChartData or ChartDataPoint in scope on any branch"
None of the examples will work as they will not build.
A closed issue indicated this was fixed but it is still broken.

[2021-04-09 16:10] willdale commented on #50
I can't replicate the issue.

If it's looking for `ChartData` and `ChartDataPoint`, then it's an older version of the demo project.

Whats steps are you going through to get this issue?

[2021-04-13 17:12] kennedycraig opened #51 "Y axis labels and legend pushed off view with large data no. of data points"
I am experiencing the behavior that y axis labels are starting to be pushed outside the view as I increase the number of data points. 30 datapoints are fine but as I increase beyond 30, the labels begin to be pushed out. Have I hit a limit?
![labelmissing](https://user-images.githubusercontent.com/10380669/114593287-ec92d400-9c59-11eb-92c5-f66d58298cc2.jpg)

[2021-04-13 17:37] willdale commented on #51
This seams to be an oversight on my part, it's to do with handling optionals in the X Axis Labels.

If you remove `.xAxisLabels` view modifier or set `LineChartStyle -> xAxisLabelsFrom` to `.chartData()` it should fix it.

I'll push a proper fix out for it tomorrow.

[2021-04-13 17:47] kennedycraig commented on #51
Yep. That nailed it. Thank you so much!

[2021-04-13 18:21] willdale commented on #51
No worries, glad it's working.

[2021-04-13 19:32] kennedycraig commented on #51
Hi, Will.
I should expect that xAxis labels _dont_ show when you use this workaround, correct?

[2021-04-13 19:52] willdale commented on #51
Hi,

`.xAxisLabels` view modifier is needed to to show the labels.

If there are too many labels in the data points you can set `LineChartStyle -> xAxisLabelsFrom` to `.chartData()` to show the `LineChartData -> xAxisLabels` array with fewer labels.

The fix I'll look at tomorrow is for when data points don't have a value in `xAxisLabel`.

[2021-04-13 20:23] kennedycraig commented on #51
Thank you again. I was trying to model the case where large numbers of points - lets say 90 (representing 90 days) only had 3 x-axis labels(say the month beginning.). I love your work.

[2021-04-14 13:04] willdale commented on #51
Hi Craig,

Is everything working for you?

Any change I might make the way the labels are laid out, breaks potential implementations that people are using.

Thanks

[2021-04-14 13:47] kennedycraig commented on #51
Hi, Will.
It works with the .chartdata() modifier. I dont mind if you break something - I am not yet in production and very willing to work around anything to help you/the effort improve if needed. Its very promising work.
Craig

[2021-04-14 16:06] willdale commented on #51
Ah indeed, it is not working. I'll work on a fix.

If all the rest is working,  I will leave it as is.

Thanks

[2021-04-14 16:48] kennedycraig commented on #51
Cheers. Let me know when I can pull it and I will give it a shot.

[2021-04-15 12:36] kennedycraig commented on #51
Hi, Will.
I rebuilt with 2.3.1 this morning. All looks good xAxisLabels rotation working as expected. I really appreciate it - the work looks beautiful in my product.
Craig

[2021-04-15 12:59] willdale commented on #51
Glad its all working! v2.3.1 introduced a layout bug with when rotation was 0. Latest version is now v2.3.2.

Thank you for your support!

Will

[2021-04-15 13:04] #51 closed

[2021-04-15 13:05] willdale commented on #50
I'll close this off but feel free to reopen it or open a new issue.

[2021-04-15 13:05] #50 closed

[2021-04-15 23:04] kennedycraig opened #53 "Suggestion/Request - Pie Chart values < 0"
When pie charts are fed values < 0 (e.g. decimals representing % summing to 1.0) the touch info box value is rounded to an int 0. Fixed by just multiplying by 100 in the case of a percentage in the view code.

Would be nice to be able to: 1) Feed in a specifier to allow for formatting of the info box number in the intended format.

Unrelated - would be nice to be able to label the slices in a way

[2021-04-16 10:33] willdale commented on #53
# Decimal
 Decimal precision is possible currently.

[code]
[code]
![Decimal precision in pie chart](https://user-images.githubusercontent.com/63838770/115010750-b0ec4a00-9ea5-11eb-9d64-aed55e697efe.png)

---

# Segment Labels

I've add this to a "To Do" project.

[2021-04-16 13:18] kennedycraig commented on #53
Thanks, Will.

[2021-04-16 13:20] willdale commented on #53
No worries.

[2021-04-17 11:06] ataias opened #54 "Wrong Y Label in StackedBarChart"
# Context
While using the library in my app, I noticed the Y Labels were odd. I investigated the demo add to see if I could reproduce the error and I noticed the following in `StackedBarChartDemoView.swift`:

For a given `MultiBarDataSet`, we can see the labels for each point just fine, but the overall Y Label has a wrong value. For instance, look at this code:
[code]

When I select the labels, I

[2021-04-17 18:10] ataias commented on #54
@willdale I submitted a PR that I hope to fix this issue: https://github.com/willdale/SwiftUICharts/pull/55 . Could you take a look and let me know your thoughts?

[2021-04-18 09:07] willdale commented on #54
I've added a comment under the PR #55. Let's continue the conversation there.

[2021-04-19 18:27] oalansari82 opened #57 "FilledLineChart inside of a NavigationView using .averageLine"
Hi There,

I just wanted to say this is the best SwiftUI Chart module I've used so far. Thanks for sharing.

I am using a FilledLineChart which is wrapped inside of a navigationView. Once I use the .averageLine. The whole view starts animating from top left corner when it appears the first time. I am not sure if I made any sense but the video attached shows the behavior.

https://user-images.githu

[2021-04-20 07:57] #54 closed

[2021-04-20 09:03] willdale commented on #57
Hi Omar,

It's interesting, I can't replicate the issue. What version of the package are you running?

https://user-images.githubusercontent.com/63838770/115368703-3f6f0d00-a1bf-11eb-8257-e2d673ebab12.mov

[code]

[2021-04-20 19:28] oalansari82 commented on #57
Hi Willdale

I am running 2.3.2 and here is the complete link to the file. The whole project is also there just in case you wanted to look around. I am a beginner so please ignore my sluggish coding standards.

https://github.com/oalansari82/COVID-Qatar/blob/main/COVID%20Qatar/Views/ChartView.swift

[2021-04-21 07:49] willdale commented on #57
Hi @oalansari82,

Nice looking app, good work.

This was an interesting bug but `v2.4.1` should fix the issue you were having.

---

A couple of suggestions for your `ChartView`:

There are some layout issues where the chart package isn't reacting to width changes in the y axis labels. This means that info box and and average marker are offset.

Should be a simple fix: add `.id(chartData.id)` afte

[2021-04-22 10:49] vrwim opened #58 "Top of bar charts have deformation"
Because the corner radius is set before the stretching is applied, longer bars have more corner radius than shorter bars.

Not sure how to approach this, maybe stretch first, then apply the corner radius (if I tried this, I didn't get any rectangle). Other approach might be to apply a different corner radius for x and y, and not use a circle to make the corner, but use an ellipse?

Screenshot atta

[2021-04-22 17:57] oalansari82 commented on #57
Hey Will,

It would've not looked good without this great package.

v2.4.1 has fixed the issue and thank you for the suggestion. I was wondering why was it looping through and I had to remove the `.id(chartData.id)`

[2021-04-22 17:57] #57 closed

[2021-04-23 07:31] willdale commented on #58
Hi @vrwim,

Tried a few different things during development, they all suffered from the same issue. Using ellipse had the same behaviour.

I'll have another a look at it.

Thanks

[2021-04-24 12:48] ataias opened #59 "Is it possible to do horizontal bar charts?"
I am thinking of doing a chart like:

<img width="534" alt="image" src="https://user-images.githubusercontent.com/1009034/115959314-0649dc00-a4e2-11eb-8fce-2848a3adc02e.png">

I could not find an example at https://github.com/willdale/SwiftUICharts-Demo nor in the README. Is this currently possible?

[2021-04-24 15:04] willdale commented on #59
Hi @ataias,

It's not currently possible, I was hoping to add it as a new Type but ran out of time.

Is it something you will look to implement? or wait until I can implement it?

Thanks

[2021-04-24 16:26] ataias commented on #59
Hi, @willdale

Got it. I am not sure if I give it a try or wait. I need to assess how much work it would be. Some questions:

1) Do you think this is about 1-2 days of work? 1 Week? More?
2) If you were to implement it, what would be your plan? In particular:
- would the API be the same as bar chart, just changing the implementation interpretation of the x and y-axis?
- would copy/paste bar chart

[2021-04-25 10:37] willdale commented on #59
I will have a look at it. It might take a little while, other projects and what not.

The API should be the same as the others, the difficulty, as you say, will be x and y axes. some of the functionality from view modifiers might need to be moved to the protocols so it is left to the compiler link the correct functions for layout. The ideal is to not have any extra if statements.

[2021-04-26 07:31] willdale commented on #58
Hi @vrwim,

I couldn't get it to work without deformation, have you got any ideas for it?

[2021-04-26 08:06] willdale commented on #53
This has been added in v2.5.0.

[code]

Thanks,
Will

[2021-04-26 08:06] #53 closed

[2021-04-26 21:23] kennedycraig commented on #53
Perfectly brilliant! Thanks, Will!

[2021-04-27 21:46] jotaj91 opened #61 "using xAxisLabelsFrom : .chartData(rotation: .degrees(0)) will mess with the Y axis labels position"
I think the problem is in YAxisLabelCell.swift

`
    .onAppear {
        chartData.viewData.xAxisLabelHeights.append(width)
    }
`
changing width to height solved the problem for me.

[2021-04-28 08:23] willdale commented on #61
I've been having problems with the rotation since I first implemented it.

I'm currently looking to overhaul it.

[2021-04-28 14:34] gesabo opened #62 "Understanding .linearTrendLine?"
Really enjoying this library! Thanks for such excellent work! 🙌

I am trying to understand .linearTrendLine. I see that it takes chartDate as a parameter, but then also takes a firstValue and lastValue. As far as I can tell the line is just a straight line drawn from firstValue to lastValue?

I was wondering if this was something you might come back to to add support for a trend line with curves m

[2021-04-29 13:07] willdale commented on #62
Thanks.

`.linearTrendLine` was added as a basic overall trend for the current data set. It was requested in #39.
`.averageLine` is for showing the average value of the data set.

This is something that could be added at some point, either from a pull request or when I have some more time.

Thanks,
Will

[2021-05-01 21:29] joelberkeley opened #63 "Build inline docstrings into docs website"
Much of this library has docstrings. It would be nice to be able to see those presented nicely in a docs website.

The actual publishing of that website for new versions of the library (using e.g. GitHub actions) can be a different piece of work

[2021-05-01 21:32] joelberkeley commented on #63
@willdale what did you say the standard swift library for building docstrings into a website was?

[2021-05-02 09:14] willdale commented on #63
@joelberkeley, I think the go to library from automatic documentation generation is `Jazzy`. [https://github.com/realm/jazzy](https://github.com/realm/jazzy)

Here's an example of the output from `fullWidth`: [https://reduxkit.github.io/ReduxKit/](https://reduxkit.github.io/ReduxKit/).

At it's most basic, to generate docs you would use the command: `jazzy --min-acl public --theme fullwidth`

[2021-05-02 13:02] joelberkeley commented on #63
how about a "docs" directory with configuration and instructions to build the docs locally? you could base the github actions on that

[2021-05-02 13:15] willdale commented on #63
That sounds good, trigger a GitHub Action on `release`.

What would need to be in the docs folder to start this up, or, would it all be added through an action?

[2021-05-03 22:39] gesabo opened #64 "Linechart not plotting correctly with large number of points"
Is there some number of data points that are too much for a line chart?  I'm loading 609 heart rates here, the first chart is using iOS charts and the 2nd is using SwiftUI Charts.  It looks like the spike in the middle (a workout) should be tighter together).  Anything I can do to fix this? 🤔
![IMG_57212197C1E8-1](https://user-images.githubusercontent.com/9816100/116941998-bb953600-ac3e-11eb-9258-

[2021-05-04 09:58] willdale commented on #64
mmm interesting,

- what version of the package are you running?
- What device?
- Can you post some code?

[code]

Gives me:

![600](https://user-images.githubusercontent.com/63838770/116987308-cc898a00-acc6-11eb-9ed9-191c1b65029b.png)

Which looks right to me.

And with 2400 data points:

![2400](https://user-images.githubusercontent.com/63838770/116987967-a57f8800-acc7-11eb-83c7-fd86bf7878e1.png

[2021-05-04 10:11] willdale commented on #63
Thank you @joelberkeley for your assistance in setting this up.

[2021-05-04 10:11] #63 closed

[2021-05-04 18:39] gesabo commented on #64
🤔 @willdale  I am running v 2.5.0 on iPhone 11 (iOS 14.5) I tried making sure your code was the same as mine but still seeing the different charts.  Can't figure out what might be different between yours and mine?

[code]
![IMG_1851](https://user-images.githubusercontent.com/9816100/117052837-336a6b80-ace6-11eb-98bf-62a603ed427c.jpg)
![IMG_C0B302F2DB83-1](https://user-images.githubusercontent.com/

[2021-05-04 18:44] gesabo commented on #64
If its helpful here is the data I am plotting:

[code]

[2021-05-04 18:47] willdale commented on #64
This library currently only plots evenly spaced, this would mean if there is an area where there is more data, it will get spread out.

Could that explain it?

[2021-05-04 18:49] gesabo commented on #64
@willdale yes that must be it then, heart rate data from the Apple watch is sampled sporadically (e.g. more frequent during a workout, less frequent during other times of day).  🤔

[2021-05-04 18:51] willdale commented on #64
Is there a date component in `CustomHeartRateObject`, you could average to the hour, minute, second?

It would be good if the library could handle more time/date based rendering but I'm not sure when I'll get time to look at it.

[2021-05-04 20:06] gesabo commented on #64
@willdale I tried interpolating a HR at every second of the day but that gives me over 56,000 values to chart so far today which I think might be too many as its crashing but I can't tell why.

[2021-05-04 22:57] srijaljoshi opened #65 "MultiLine Chart floating box blocks view"
I'm trying to get the floating box to be transparent so that it doesn't block the graph. How can I achieve this?

![Picture](https://user-images.githubusercontent.com/25680098/117079748-0330c600-ad02-11eb-85d3-184d78629250.png)

[2021-05-04 23:02] srijaljoshi opened #66 "X Axis labels overlapping"
What would be the best solution to fit everything? The data I'm using has 12 data points with time increment of 5 mins. Is there a way to tilt the labels or use only a few labels out of the 12 spread out in the x-axis?

![xAxisLables](https://user-images.githubusercontent.com/25680098/117080030-9d910980-ad02-11eb-97d2-937fb41d60b2.png)

[2021-05-05 02:38] colinhumber opened #67 "Combined bar and line chart"
Working with 2 data sets that should be displayed with a bar chart the grouped chart is perfect. Is it possible with the current setup to display a bar chart with a line chart overlaid?

[2021-05-05 02:39] colinhumber opened #68 "Left and right y-axis"
Related to https://github.com/willdale/SwiftUICharts/issues/67, if 2 data sets require different scales, either with a grouped bar chart or multi-line chart, supporting a left and right y-axis would be super handy.

[2021-05-05 06:30] willdale commented on #64
A couple of Ideas:

To take inspiration from a Garmin app I use; to show a whole day they average to every two minutes - giving a maximum 720 data points for a day , then for workouts there is a separate chart that shows every second.

To take inspiration from Apple; to show a whole day they use a ranged bar chart showing the highest and lowest values in an hour. See `Ranged Bar Chart` in the [Rea

[2021-05-05 06:40] willdale commented on #65
In `MultiLineChartData`:

[code]

[2021-05-05 06:48] willdale commented on #66
In `MultiLineChartData`:

[code]

in an update hopefully soon there is an overhaul of label rotation.

OR

In `ChartData`:

[code]

[2021-05-05 06:49] willdale commented on #67
This is something I want to implement when I have time.

[2021-05-05 06:50] willdale commented on #68
Again this is something I would like to implement when I have time.

[2021-05-05 14:03] gesabo commented on #64
@willdale  thanks for taking the time!  I will give both a shot and see what works best.  Thanks again for a great library.  🍻

[2021-05-05 15:04] srijaljoshi commented on #66
Thanks. That really helped.
Is there a way to sample a few x-axis labels and display them when there are like 100+ points?

[2021-05-05 15:09] srijaljoshi commented on #65
That works. Thanks!

[2021-05-05 15:09] #65 closed

[2021-05-05 15:45] willdale commented on #66
The library doesn't do any of the filtering, that needs to be done before. However if only some data points have `xAxisLabels` then the library will still place the others in the right position.

[2021-05-05 17:10] tfeige91 opened #69 "Space Between Bars (Issue with many Bars)"
Hi,

first of all: Great Library! It's by far the most flexible out there in pure SwiftUI!

I ran into one issue with the bar chart, that is hopefully easy to fix although I didn't find the right place, yet.

If you have many data points the bars extend the space of the diagram. You can transform the bars as such by giving it a bar width <1 but that leads to huge spaces between the bars (of course

[2021-05-05 18:26] willdale commented on #69
While you don't have any labels showing, I think the issue might be in the `.xAxisLabels`. If you remove the modifier or change `BarChartData -> chartStyle -> xAxisLabelsFrom` to `.chartData()` then the issue should hopefully be resolve.

Thanks!

[2021-05-05 19:47] tfeige91 commented on #69
Wow many thanks! It worked: I changed xAxisLabelsFrom to .chartData().

[2021-05-05 20:01] tfeige91 commented on #69
With 96 Bars I now run into expected performance issues. Is there a way to call the .drawingGroup modifier to make use of Metal?

[2021-05-05 20:09] willdale commented on #69
Glad its working.

Are these performace issues in the simulatior or on a real device; if on a device, which model?

[2021-05-05 20:25] tfeige91 commented on #69
I have them in the simulator and on the iPhone 12 mini. Not every time the view loads though.

[2021-05-05 20:26] tfeige91 commented on #69
Maybe it was worth adding the modifier if the data exceeds a certain number of elements?

[2021-05-05 20:35] willdale commented on #69
At what point in the view hierarchy do you think it should be attached? Could you place it within your view?

[2021-05-05 20:40] tfeige91 commented on #69
I only have a Zstack with a RoundedRectangle and then the Chart on top -> Basic CardView.
I tried adding it on every point in my views, but it didn't change the behavior.
`
    var body: some View {
        ZStack{
            RoundedRectangle(cornerRadius: /*@START_MENU_TOKEN@*/25.0/*@END_MENU_TOKEN@*/)
                .fill(vm.backgroundColor)
            if (chartData != nil) {

[2021-05-05 20:56] willdale commented on #69
Out of interest, what happens in the `.onAppear`? I've seen other issues where the animation gets a bit glitchy if the data is changed in `.onAppear`. See https://github.com/willdale/SwiftUICharts/issues/57#issuecomment-823856041.

As far as I know, adding `.drawingGroup()` to your ZStack should have pretty much the same effect as adding it in the library.

[2021-05-05 21:15] tfeige91 commented on #69
🙈 the onAppear was legacy stuff that I just forgot to remove. I did it now, but it's not changing anything.
I now only initialize the viewModel that calls a function in its init to create the datapoints. But this didn't lead to performance improvements.

Yeah I thought so, too but it didn't change anything at all. Maybe the problem is in the function.
Anyway thanks a lot for your support!

[2021-05-05 21:59] kennedycraig commented on #64
Hi, Will.
I actually am experiencing an issue like this again now that I upgraded to 2.5. The same issue is NOT appearing in 2.3 (I have 2.3 with the same data on a phone and 2.5 on a simulator. The x-axis is being spaced out again and the y axis has disappeared again...
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-05-05 at 17 58 44](https://user-images.githubusercontent.com/10380669/1172149

[2021-05-06 00:01] kennedycraig commented on #61
Confirmed same issue with rotation 90. This is working in 2.3, Xcode 12.4, seems to have become an issue somewhere in 2.5, with Xcode 12.5

[2021-05-06 08:25] willdale commented on #64
I'm working on v2.6 which overhauls all the axes labels. Hopefully this will solve a myriad of problems!

@kennedycraig, Is that using `xAxisLabelsFrom: dataPoint()`?

[2021-05-06 09:44] tfeige91 opened #70 "Custom Legend for Bar Charts"
Is it possible to draw a custom Legend for a bar chart?
I have many bars but only two conditions and want to place only those two conditions in a legend below the chart.
What I get is a Legend with one Item for each bar.

In the [Docs](https://willdale.github.io/SwiftUICharts/Classes/BarChartData.html) it says that legends is part of BarChartData but I can't add id there.

[2021-05-06 10:07] #69 closed

[2021-05-06 10:11] tfeige91 opened #71 "Set Axis title Color"
Is it somehow possible to set the x and yAxisTitleColor?

[2021-05-06 10:40] willdale commented on #70
Custom legends are not possible. They get generated based on the data provided.

 You could look at Grouped Bar Charts? [https://github.com/willdale/SwiftUICharts#grouped-bar-chart](https://github.com/willdale/SwiftUICharts#grouped-bar-chart)

[2021-05-06 10:46] willdale commented on #71
I'll add it to the next release.

[2021-05-06 10:51] kennedycraig commented on #64
Hi, Will. No, its using .chartData(). Note that the xlabels bug only appears with a rotation modifier. Without the rotation modifier, I works as expected.

                                        xAxisLabelsFrom     : //.chartData(rotation: .degrees(90)),
                                            .chartData(),

[2021-05-06 10:55] willdale commented on #64
Thanks, I'll work on a fix for an up and coming update.

[2021-05-07 08:59] tfeige91 commented on #70
Setting up a Grouped Bar Chart with only one group did the trick :)
Thanks!

[2021-05-07 08:59] #70 closed

[2021-05-07 12:06] tfeige91 commented on #71
Thanks! Is it possible to set the legend font and fontcolor?

[2021-05-07 12:46] willdale commented on #70
No worries, glad it's working.

[2021-05-07 12:55] willdale commented on #71
[code]

[2021-05-07 13:20] tfeige91 commented on #71
😔 Sorry! But thanks :)

[2021-05-10 11:06] willdale commented on #61
Hopefully v2.6 has fixed this. 🙏

If not feel free to reopen this.

[2021-05-10 11:06] #61 closed

[2021-05-10 11:07] willdale commented on #64
Hopefully v2.6 has fixed this. 🙏

If not feel free to reopen this.

[2021-05-10 11:07] #64 closed

[2021-05-10 11:14] #66 closed

[2021-05-10 11:22] willdale commented on #67
In v2.6 there is a slightly experimental new view modifier.

---

[code]
[code]

---

![bar and line](https://user-images.githubusercontent.com/63838770/117651706-2936ea00-b18a-11eb-8a70-ea4b2ffd77eb.png)

---

It's currently undocumented, just ask if you need help.

Thanks,
Will

[2021-05-10 11:22] #67 closed

[2021-05-10 14:42] kennedycraig commented on #64
For some reason 2.6 is not pulling in Xcode via swift package manager. No matter whether I reset the package cache and/or force update to latest version. Any ideas?

[2021-05-10 14:50] gesabo opened #73 "Possible bug in Series 3 Watches?"
I am seeing a crash on Apple Watch that seems to be limited to Series 3 (all running Watch OS 7) or higher.  I can't tell what the cause is but it seems to be related to the metaData in SwiftUICharts, any ideas? 🤔

![image](https://user-images.githubusercontent.com/9816100/117678654-97c17b00-b17d-11eb-8892-bd1156d60b1e.png)

[2021-05-10 14:55] kennedycraig commented on #64
Just deleted the dependency and re-added - still get 2.5

[2021-05-10 17:19] willdale opened #74 "Xcode not showing new version. - v2.6"
Issue updating to v2.6.

[2021-05-10 17:21] willdale opened #75 "> For some reason 2.6 is not pulling in Xcode via swift package manager. No matter whether I reset the package cache and/or force update to latest version. Any ideas?"
Just deleted the dependency and re-added - still get 2.5

_Originally posted by @kennedycraig in https://github.com/willdale/SwiftUICharts/issues/64#issuecomment-836800548_

[2021-05-10 17:23] willdale commented on #75
Fixed in v2.6.1

[2021-05-10 17:23] #75 closed

[2021-05-10 17:23] willdale commented on #74
Fixed in v2.6.1

[2021-05-10 17:23] #74 closed

[2021-05-10 17:24] willdale commented on #64
@kennedycraig fixed in v2.6.1.

Odd issue with git not tracking `.swiftpm` folder.

[2021-05-10 17:33] kennedycraig opened #76 "Rotation on Line Chart with large no points, causes y axis to shift off page"
Sorry, Will. Reopening. Updated to 2.6.1

Using, xAxisLabelsFrom     : .chartData(rotation: .degrees(90)), still forces y axis off screen.
Using, xAxisLabelsFrom     :.chartData(), causes labels to disappear.
See two images below.
Let me know how I can be of help.

![image](https://user-images.githubusercontent.com/10380669/117700476-0f9aa000-b194-11eb-89b9-ba85c8d0d73b.png)
![image](https://user-

[2021-05-10 17:49] willdale commented on #76
just checking: when you set `xAxisLabelsFrom : .chartData()` are you feeding in and array of strings to the ChartData `xAxisLabels: ["String", "String"]`?

![test](https://user-images.githubusercontent.com/63838770/117702426-64eca680-b1c0-11eb-860d-396347de5f00.png)

[2021-05-11 07:21] willdale commented on #76
maybe v2.6.3 has fixed it

[2021-05-11 10:40] willdale commented on #73
hmmmm, do you have any repeatable code? I can't get it to crash in the simulator.

[2021-05-11 14:35] kennedycraig commented on #76
no, .chartdata(rotation: ...)

Do you want me to rework with .datapoints and try?

[2021-05-11 14:55] kennedycraig commented on #76
VICTORY!!!

![image](https://user-images.githubusercontent.com/10380669/117837364-63b28c80-b247-11eb-8122-ad1894df2660.png)

[2021-05-11 15:04] #76 closed

[2021-05-11 15:52] gesabo commented on #73
@willdale  i wasn't able to repeat in the simulator either.  I am trying to disable Dead Code Stripping for WatchOS as I've read this caused some weird crashes with Series 3 Watches.  This may not be related to SwiftUICharts, but did seem to occur when I started using on the watch.  I will report back if the crashes stop.

[2021-05-12 17:25] ataias commented on #59
Awesome! I should try it out this week or the next. Just starting a new job, so kind of busy.

Thanks for the update!

[2021-05-13 20:29] gesabo commented on #73
update that removing Dead Code Stripping on WatchOS seems to have fixed this crash.

[2021-05-13 20:30] #73 closed

[2021-05-18 03:14] wyk111wyk opened #77 "Customize blank caption"
So far the blank caption is "No Data" for table chart, can you make it customizable, so we can localize this hint.
![截屏2021-05-18 上午11 09 10](https://user-images.githubusercontent.com/8171481/118584751-2cedf080-b7ca-11eb-9d3a-313219af365b.png)

[2021-05-18 07:30] willdale commented on #77
It is customisable.

[code]

[2021-05-19 06:20] wyk111wyk commented on #77
Thx for your response, this is great, but I have another question: Is the width between two nodes customizable?
![IMG_7232](https://user-images.githubusercontent.com/8171481/118765224-5895d700-b8ad-11eb-9228-6a46c6fe67f1.jpg)

[2021-05-19 14:16] willdale commented on #77
No, what you could do is,  not provide a label for every other data point;

[code]

[2021-05-20 19:59] gesabo opened #78 "BarChartStyle xAxisLabelsFrom dataPoints not showing?"
I noticed in your demo project for a ranged bar chart, you hard code the xAxisLabels  `xAxisLabels: ["00:00", "12:00", "00:00"]` but I would like to load them dynamically from my data points as in `xAxisLabelsFrom    : .dataPoint(rotation: .degrees(0))` but they aren't showing up.  Am I doing something wrong or is this not possible yet? Here is a gist of my code, apologies for the cruft, work in p

[2021-05-22 16:03] #77 closed

[2021-05-23 09:09] willdale commented on #78
Hi, This should be fixed now in v2.6.4.

Let me know if its not.

Thanks,
Will

[2021-05-24 19:12] gesabo commented on #78
@willdale thanks working now!  One issue, is there any way to add some granularity to position of the XAxsisLabels?  See here, it looks like alignment is based on the first bar perhaps? 🤔  Or is there something I'm doing wrong here?

![IMG_CC94BB22F96D-1](https://user-images.githubusercontent.com/9816100/119396132-78a90a00-bca2-11eb-98dc-4c50a3c7d8c1.jpeg)

[2021-05-24 20:29] willdale commented on #78
Hmmm, I can't replicate it. Can you send over some working, tidy code please?

[2021-05-24 20:38] gesabo commented on #78
@willdale I'm still using the code in my gist above, and this is the data I am plotting on a Ranged Bar Chart:  (these are sleep start and end times for 7 days using `TimeInterval` since midnight of each day.

lowerValue = 33273.0 upperValue = 8673.0
lowerValue = 36843.0 upperValue = 10773.0
lowerValue = 29685.0 upperValue = 6195.0
lowerValue = 36990.0 upperValue = 7980.0
lowerValue = 39745.0 uppe

[2021-05-24 20:45] willdale commented on #78
Can you send over minimal reproducible code that I can compile at this end without a rewrite. The gist doesn't have a `DataStore` object or a `SleepDay` object for example.

[2021-05-24 21:09] gesabo commented on #78
@willdale  sorry how about this https://gist.github.com/gesabo/50e6f28efce43a57e80e9fc285955276

[2021-05-25 05:52] willdale commented on #78
Hi @gesabo, no worries, thanks for sending it through.

The issue seems to be that the lower and upper values are swapped around. So use:

[code]

Hope this helps.

[2021-05-25 17:36] willdale commented on #78
Seeking clarification:

What would happen in your system if someone went to bed before midnight?

[2021-05-25 17:38] gesabo commented on #78
@willdale great question! I was just prototyping this with my data which is always after midnight but I was going to move the timeIntervalSince to since 6pm the day before 👍

[2021-05-25 19:57] willdale commented on #78
Does the follow solution work?

[code]

---

The order of highest and lowest is moderately structural to how chart type works. It is unlikely I will have time to look at flipping it any time soon, if you can put a pull request in, I'll more than gladly look at it.

[2021-05-25 20:25] gesabo commented on #78
@willdale that seems to work fairly well!  Thank you!

[2021-05-27 07:33] imaaronath opened #79 "ProjectionTransform Warning in Pie Charts"
ignoring singular matrix: ProjectionTransform(m11: 5e-324, m12: 0.0, m13: 0.0, m21: 0.0, m22: 5e-324, m23: 0.0, m31: 191.0, m32: 203.75, m33: 1.0)

[2021-05-27 07:37] willdale commented on #79
It doesn't really affect anything, it's just a warning.

[2021-05-28 20:09] tciuro opened #80 "Customize the chart font(s)?"
Hey Will!

I would like to customize the chart font(s). Looks like the documentation is unfinished in this respect? Is there a way to pass a `Font` to say, the Y axis?

Thanks!

[2021-05-28 20:23] willdale commented on #80
Hello,

Chart style is where you will find it.

[code]

[2021-05-29 02:17] tciuro opened #81 "struct 'MarkerAttachemnt' is misspelled"
The following struct is misspelled:

[code]

Should be:

[code]

[2021-05-29 04:41] wisepmlin opened #82 "No such module 'SwiftUICharts'"
The package has been added, still this prompt when importing

[2021-05-29 06:13] #80 closed

[2021-05-29 06:14] #79 closed

[2021-05-29 06:15] #78 closed

[2021-05-29 06:39] willdale commented on #82
Hi,

In `Project -> General -> Targets -> Frameworks, Libraries and Embedded Content`, make sure that it has been added to the list.

![Screenshot 2021-05-29 at 07 35 39](https://user-images.githubusercontent.com/63838770/120060581-7e12a580-c050-11eb-80fe-c48d5dee5df6.png)

If that doesn't work, `File -> Swift Packages -> Reset Packages Caches` && `Resolve Package Versions`

![Screenshot 2021-05-2

[2021-05-30 07:20] 7elysium opened #83 "Use Doubles for xAxis labels?"
I'm trying to create a multi-line chart. The data I have is of [number, number] type rather than [number, string]. Is there any way I can change the default type that is used for the xAxis labels?

Thank you!
(I'm very new to programming! I'm sorry if this has a very easy fix!)

[2021-05-30 10:28] willdale commented on #83
Hi,

For the numeric value you want to use as a string you can use String Interpolation:

[code]

or initialise a new string using the numeric value.

[code]
---
Will

[2021-05-30 10:42] 7elysium commented on #83
Got it!Thank you so much!

[2021-05-30 10:42] #83 closed

[2021-05-30 10:48] 7elysium opened #84 "Adding single data - point of interest with an X and Y intercept"
I have a 6 line multiline chart.
I want to plot a single point of data based on user input on this graph to see where that data point lies with respect to the other lines. Preferably highlight it in some manner with X, Y-axis intercepts.
I tried using yAxisPOI but that only lets me enter in one value (xAxis). And I tried creating another line with 3 points (2 preset ones and entering data into the

[2021-06-01 17:48] gesabo opened #85 "Custom Dot Colors based on the Data"
I couldn't find a way to do this yet but it would be nice if you were able to customize the Dot color on a Line Chart in that way that had access to the data so that e.g. on a yAxis of 0-10 3 was red, 5 was yellow, 8 was green etc.

[2021-06-03 07:38] willdale commented on #85
There is currently no way of doing this, however it's in the works.

[2021-06-03 07:38] #82 closed

[2021-06-04 04:22] imaaronath opened #86 "GroupedBarChart - Possible bug with the placement of the x axis labels"
Hi willdale , can you check the xAxislabels from GroupedBarChart ? In my app xAxis making bug like floating on the middle

[2021-06-04 05:52] willdale commented on #86
Can you post some minimal, reproducible code? A Screenshot?

On a side note, can you change the title of the post to something more findable for others?

Thanks,
Will

[2021-06-04 06:42] imaaronath commented on #86
GroupedBarDataSet(dataPoints: [GroupedBarDataPoint(value: 20, description: "Q1", group: GroupingData(title: "A", colour: ColourStyle(colour: .red))),GroupedBarDataPoint(value: 40, description: "Q2", group: GroupingData(title: "A", colour: ColourStyle(colour: .red)))], setTitle: "Halo")])
![IMG_9A55004E6DF2-1](https://user-images.githubusercontent.com/52249064/120757391-b3306380-c53a-11eb-8de8-c843

[2021-06-04 06:46] willdale commented on #86
I think the issue is to many labels in the y axis.

[code]

[2021-06-04 06:57] imaaronath commented on #86
I'm sorry , I don't understand bcs my code

[2021-06-04 06:57] imaaronath commented on #86
let data = GroupedBarDataSets(dataSets: [
            GroupedBarDataSet(dataPoints: [GroupedBarDataPoint(value: 20, description: "Q1", group: GroupingData(title: "A", colour: ColourStyle(colour: .red))),GroupedBarDataPoint(value: 40, description: "Q2", group: GroupingData(title: "A", colour: ColourStyle(colour: .red)))], setTitle: "Halo")])
        let group = [GroupingData(title: "A", colour: Col

[2021-06-04 06:58] imaaronath commented on #86
Before 2.6.4 everything is alright

[2021-06-04 07:04] willdale commented on #86
Please see : [https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown) for how to format code when you post it.

Please post all of the `GroupedBarChartData`.

[2021-06-04 07:12] imaaronath commented on #86
var finalData:GroupedBarChartData = data()
GroupedBarChart(chartData: finalData, groupSpacing: 25)
                .touchOverlay(chartData: finalData)
                .xAxisGrid(chartData: finalData)
                .yAxisGrid(chartData: finalData)
                .xAxisLabels(chartData: finalData)
                .yAxisLabels(chartData: finalData)
                .infoBox(chartData: finalData)

[2021-06-04 07:15] willdale commented on #86
[code]

[2021-06-04 07:18] imaaronath commented on #86
It's work thank you so much

[2021-06-04 07:18] #86 closed

[2021-06-05 07:27] willdale commented on #84
Hi, does the request boil done to adding X axis POI?

[2021-06-05 07:50] #81 closed

[2021-06-05 07:59] willdale commented on #85
I've added this in V2.7.0.

To use it you need to `import Combine`, then in your `ChartData`:

[code]

[2021-06-05 13:47] 7elysium commented on #84
Hello!
I think using both an X-axis POI along with a Y-axis together should do the trick.
But if we do that, then where will the POI label be shown? Won't there be two different POI labels?I don't think it'll be possible to specifically highlight the point where the 2 lines intercept...

This is what I have I'm trying to achieve:
<img width="290" alt="Screen Shot 2021-06-05 at 7 13 42 PM" src="htt

[2021-06-05 14:46] gesabo commented on #85
@willdale should this work with `MultiLineChartData` as well?  Or am i doing something wrong here...seeing no color:

[code]

[2021-06-06 08:56] willdale commented on #85
hmm... interesting, it's working when I drop that code in to a fresh project. One slight issue with it in a multi line chart is that the dots are currently done at chart level not at a line level.

[2021-06-06 20:19] gesabo commented on #85
@willdale can you check my code here if I am doing anything wrong?  I don't understand the combine very much, but this line isn't printing `print("value = \(value)")` so I am thinking the defer statement isn't getting called?  🤔

[code]

[2021-06-07 07:30] willdale commented on #85
Hi, I have no idea, your code works first time for me. The only thing I have to edit is `TrackerConstants.Green`.

What version of charts are you using?

The `defer` statement is always called after the `return` statement.

 `print("value = \(value)")` will get called only when the publisher in the library sends a data point from the `touchOverlay`.

[2021-06-07 13:03] gesabo commented on #85
🤔  I'm puzzled.  I am using version 2.7.0.  Changed the colors to `Color.green` `Color.red` and `Color.Yellow` for dots  just to be sure.  My dots are clear white circles. Yes but that's what I meant that print statement isn't printing in my console which is why I suspected it's not firing in my code for some reason.  Can't figure out what could be different?

![image](https://user-images.githubus

[2021-06-07 13:08] willdale commented on #85
Right, with you. We were talking at cross purposes.

The code I sent was for modifying the dot on touch events. ￼

I'll look at it tomorrow. ￼

[2021-06-07 13:14] gesabo commented on #85
@willdale 🤦‍♂️ sorry I totally l missed these were on touch events!  I was trying to color the dots just in general in the same way.

[2021-06-07 18:17] estebanpadilla opened #88 "iOS 13 Support"
Hello, first of all, awesome library. Thanks so much.

Now, I wonder if iOS 13 can be supported, is that a question that you can help me with?

Greetings.

[2021-06-08 10:30] krin-san opened #89 "xAxis labels not visible on LineChart in Previews"
On the version 2.7.0 of the package I've noticed that xAxis labels are frequently disappearing in SwiftUI Preview. Playing some time with [Demo project](https://github.com/willdale/SwiftUICharts-Demo) I've managed to isolate minimum require change to break it consistently: just comment out the following lines
  - [50](https://github.com/willdale/SwiftUICharts-Demo/blob/main/Shared/Views/ChartViews

[2021-06-09 07:28] willdale commented on #88
Hi, thanks.

When I set to target iOS 13, it returns ~80 errors. Many of them are to do with accessibility as the API changed between 13 and 14. There are other ones such as font type and grid items.

None of them are insurmountable, however, I won't have time to add in the relevant preprocessor directives to add backward compatible support.

From iOS 15, this library will support `at least` curre

[2021-06-09 07:28] #88 closed

[2021-06-09 07:48] willdale commented on #89
I have no idea where to start debugging this.

[2021-06-09 08:01] willdale commented on #89
It's the `.legends(...)` that are confusing me.

[2021-06-11 07:39] krin-san opened #90 "TouchOverlay breaks LineStyle with ignoreZero flag"
I wanted to draw a time-based graph which always has 24 points. For that I'm filling out missing points (from current time till the rest of the day) with zeroes and set `LineStyle.ignoreZero: true`. Unexpectedly for me, when inspecting graph data with TouchOverlay and FloatingInfoBox modifiers and hovering over zero points, selection marker jumps down to zero and graph starts drawing both line and

[2021-06-11 07:46] willdale commented on #90
I'll have a look.

[2021-06-11 08:02] krin-san commented on #89
The fact it happens in Previews doesn't really leave that many options for debugging. I can take a closer look on this issue next week.

[2021-06-16 02:28] imaaronath opened #91 "How do infobox or floatinginfobox at PieChart"
Instance method 'floatingInfoBox(chartData:)' requires that 'PieChartData' conform to 'CTLineBarChartDataProtocol'

[2021-06-16 07:56] willdale commented on #91
There are two options:

---

`.headerBox(chartData: CTChartData)`

and in `ChartData` set `ChartStyle -> infoBoxPlacement` to `.header`

See [https://github.com/willdale/SwiftUICharts#Header-Box](https://github.com/willdale/SwiftUICharts#Header-Box)

or

---

`import Combine`

then in your ChartData, use Combine to set up your own view to display the data point.:

[code]

---

WIll

[2021-06-16 09:51] imaaronath commented on #91
Alright thankyou

[2021-06-16 09:52] imaaronath commented on #91
[code]

[2021-06-16 09:55] imaaronath commented on #91
For MultiLineChart and GroupedBarChart is another way to view each bar/dot ? Because my infobox and headerbox its not work
[code]

[2021-06-18 06:41] #90 closed

[2021-06-18 06:53] willdale commented on #91
Sorry, I've been without a computer for a few days.

Have you got the `.floatingInfoBox(chartData: CTLineBarChartDataProtocol)` view modifier?

[2021-06-18 07:01] imaaronath commented on #91
[code]
I'm already tried everything with dummy data is work but when i tried to real data its bug

[2021-06-18 07:19] willdale commented on #91
What exactly isn't working?

[2021-06-18 07:23] imaaronath commented on #91
![image](https://user-images.githubusercontent.com/52249064/122522983-bbab9280-d040-11eb-8703-54f039e78b25.png)
Nothing coming from infobox , header and floatinginfobox

[2021-06-18 07:26] willdale commented on #91
Try setting `LineChartStyle(infoBoxPlacement: ....` to ` .floating`

[2021-06-18 07:31] imaaronath commented on #91
It's still same , is there i can hardcode?

[2021-06-18 07:32] willdale commented on #91
Have you looked at the Demo Project?

[https://github.com/willdale/SwiftUICharts-Demo](https://github.com/willdale/SwiftUICharts-Demo)

[2021-06-18 07:33] imaaronath commented on #91
Yeah already , it's okay

[2021-06-18 07:34] imaaronath commented on #91
Yeah already , it's okay
Thank you so much and sorry for disturbing you

[2021-06-18 07:41] willdale commented on #91
I'm happy to help.

[2021-06-18 10:07] imaaronath commented on #91
Is there i can limit data from API? I mean from your code....

[2021-06-19 08:54] 7elysium commented on #84
Hi Will,

I tried creating two straight lines to get something close to my screenshot using:
- Line 1: (minimum X, user Y) (user X, user Y), (maximum X, user Y)
- Line 2: (user X, min Y) (user X, user Y), (user X, max Y)
-
But this approach didn't work.. I tried something similar making one line using yAxisPOI which failed too.

Is there anything else that I can try using the tools already present

[2021-06-19 09:16] willdale commented on #30
@krin-san you are a star! Sorry it took a while to look at this. I'll add it to the next release.

[2021-06-21 07:38] willdale commented on #85
This is now possible in V2.8.

[code]

[2021-06-21 07:38] #85 closed

[2021-06-21 07:39] willdale commented on #30
This is now possible in v2.8.

[code]
---
 Will

[2021-06-21 07:39] #30 closed

[2021-06-21 07:42] willdale commented on #84
In v2.8 you can now add a X axis marker.

[code]

[2021-06-21 07:42] #84 closed

[2021-06-21 07:42] #91 closed

[2021-06-22 18:36] swelty33 opened #94 "Zoom in to see data points + dynamic labels"
I am building a Multi-Line Chart that needs to be able to zoom in and out of based on LARGE number of data points (num data points can be anywhere between 1,000-50,000) and spread over hours of time (x axis). Is there a way to do this currently?

[2021-06-23 07:57] willdale commented on #94
As to the zooming something like:

[code]

You will need to tweak it to smooth it out.

---

As to dynamic labels, you could do something like:

[code]
[code]

[2021-06-23 19:31] swelty33 commented on #94
Thank you very much! Very helpful and tweaking it to work in my env. Appreciate your hard work and for keeping this library online. Cheers

[2021-06-23 19:31] #94 closed

[2021-06-28 14:08] LJNIC opened #96 "Localization for chart labels and titles"
Currently the `Text` labels don't support localization. It should be as easy as wrapping all of the labels with `LocalizedStringKey(label)`.

[2021-07-02 00:11] gesabo opened #98 "Trouble building in Xcode 13?"
@willdale have you tried building in Xcode 13 yet?  Having trouble building a project with SwiftUICharts in it, and it seems to be having issues with `GroupedBarChart` -  `The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions`

[2021-07-02 06:49] willdale commented on #96
I'll have a look.

Thanks,
Will

[2021-07-02 07:57] willdale commented on #98
I did have some issues, they are fixes in v2.8.1.

Thanks,
Will

[2021-07-05 14:57] LJNIC opened #100 "Chart height inconsistencies & labels not appearing"
I have multiple views where I swap out the chart data to show different periods of the same data. For the most part, this works fine, but I have run into two issues. First, the height of bar charts is sometimes halved. The only thing changing here is the chart data.

Normal height:
![image](https://user-images.githubusercontent.com/32738636/124488021-c165df80-dd85-11eb-9725-ceca34db78c7.png)

Halv

[2021-07-05 16:41] willdale commented on #100
One thing to try would be adding `.id()` modifier to the view.

[code]

[2021-07-05 17:48] LJNIC commented on #100
That did it! Thanks a ton.

[2021-07-05 17:48] #100 closed

[2021-07-06 07:17] #98 closed

[2021-07-12 21:57] gesabo opened #101 "xAxisNumberOfLabels for BarChartStyle?"
Is there no xAxisNumberOfLabels for BarChartStyle? If not any work around? I have a Bar Chart with 60 data points but only want 5 labels so they can fit.

Thanks!

[2021-07-13 00:56] gesabo opened #102 "Option to Prevent Chart from Animating?"
Could we make it possible to not have the chart animate?  For example I'm dynamically loading data for the chart that is fairly long running.  If I try to use .onAppear, sometimes the data hasn't loaded yet, but if I let the chart get redrawn, the animation repeats or flickers every time the View is redrawn.

I'm also seeing `onChange(of: CGRect) action tried to update multiple times per frame.` i

[2021-07-13 08:02] willdale commented on #101
There are two options:

1. Don't add the `xAxisLabel` for all but 5 of them, the labels remaining should line up with the correct data point.
1. Set `xAxisLabelsFrom` to '.chartData()', then add the labels you want to `BarChartData -> xAxisLabels`.

[2021-07-13 12:13] #101 closed

[2021-07-16 15:45] gesabo commented on #102
Also along these lines another nice option would be the ability to control animation speed.

[2021-07-16 15:57] willdale commented on #102
In `ChartStyle` there is:
[code]

[2021-07-16 16:03] gesabo commented on #102
Thanks @willdale what about preventing animation completely?

[2021-07-16 16:40] willdale commented on #102
No worries, I'll try to look at it this weekend.

[2021-07-18 10:47] willdale commented on #102
Hi @gesabo, if you put ` .animation(nil)` at the end of the chart view it will block all animation.

[2021-07-18 19:14] gesabo commented on #102
@willdale thank you!

[2021-07-19 08:01] willdale commented on #96
Hi @LJNIC, localisation support has been added in v2.8.2.

See bottom docs for some Additional tags to include in localization to support VoiceOver.

Thanks,
Will

[2021-07-19 08:01] #96 closed

[2021-07-19 08:01] #102 closed

[2021-07-19 08:01] willdale commented on #102
@gesabo, No worries.

[2021-07-20 14:54] gesabo opened #104 "Adding a trend line to Line Charts and Bar Charts?"
@willdale have you considered adding a trend line or moving average line?  I've done this in the past in the iOS Charts lib manually by adding another line with data points that average some number of total points on the chart.  For example if I had 100 data points on line 1, line 2 would be constructed using 10 data points (0-10 average = point 1, 11-21 = point 2 etc.).

If you were to incorporat

[2021-07-20 16:54] willdale commented on #104
@gesabo I have considered it, but decided to leave the average calculation as an implementation detail.

Here is an easy way to add a line on top of a `LineChart` or `BarChart`.

This goes high up the View Modifier chain.
[code]

Then this further down.
[code]

Data and styling.
[code]

[2021-07-20 19:46] gesabo commented on #104
@willdale thanks so much!  Had no idea `.extraLine` existed! 👏. I have 1 slight issue (this is using my own extra line data points below), I need the line to start after the Bar Chart's Y Axis Labels 👇  any idea?

![image](https://user-images.githubusercontent.com/9816100/126386101-de88d50f-3058-4e1b-aa8b-2ee66b9fc3d7.png)

[2021-07-20 19:49] willdale commented on #104
Where in the view chain is it?

[code]

[2021-07-20 19:57] gesabo commented on #104
BarChart(chartData: barChartData)
                    .xAxisLabels(chartData: barChartData)
                    .yAxisLabels(chartData: barChartData)
                    .id(barChartData.id)
                    .extraLine(chartData: barChartData, legendTitle: "Test") {
                         makeRecoveryTrendData(objects)

                    } style: {
                        extraLineStyle

[2021-07-20 19:58] gesabo commented on #104
@willdale  oh I see you meant all the way to the top!  Got it!  Fixed now 👍

[2021-07-20 19:59] willdale commented on #104
No worries.

[2021-07-20 19:59] #104 closed

[2021-07-21 18:18] LJNIC commented on #96
Thanks again!

[2021-07-29 19:53] gesabo opened #105 "yAxis Double values?"
@willdale I can't seem to figure out what I am doing wrong here, attempting to display yAxis Labels in a double format e.g. 15.8 but they are all the same here? 🤔

![image](https://user-images.githubusercontent.com/9816100/127556951-fc33e281-8812-4fbb-ae65-97e43fff8ba3.png)

[code]

[2021-07-30 07:07] willdale commented on #105
The xAxisLabels are fixed as of v2.8.3.

[2021-08-02 22:56] #105 closed

[2021-08-02 23:00] gesabo commented on #104
@willdale  would it be possible to add .extraLine to a RangedLineChart as well?

[2021-08-03 07:52] willdale commented on #104
It should already work, are you facing an issue?

[2021-08-03 14:36] gesabo commented on #104
@willdale  yes unless I'm doing something wrong,  I'm getting `Instance method 'extraLine(chartData:legendTitle:datapoints:style:)' requires that '[ExtraLineDataPoint]' conform to 'CTLineBarChartDataProtocol'`
[code]

[2021-08-03 16:34] willdale commented on #104
Hi,

Change `.extraLine(chartData: extraLineData, ...` to `.extraLine(chartData: data, ...`

Should solve it.

[2021-08-03 18:42] gesabo commented on #104
@willdale got it, yes it does.  👍 Is there any way to display the points on the extraLine?  `markerType` doesn't seem to be available in ExtraLineStyle?

[2021-08-13 07:45] willdale commented on #104
This has been added in v2.9.0.
A `pointStyle` attribute has been added to `ExtraLineStyle` to allow the addition of Point Markers.
A `markerType` attribute has been added to `ExtraLineStyle` to add touch interaction.

Theres also a optional change to the API to make is slightly neater.

[code]

[2021-08-13 18:56] rodri0315 opened #107 "custom y-axis value labels"
I'm trying to display Y-Axis labels in a certain way where the intervals aren't equal.  Like this screenshot example.
Any tips or ideas?

<img width="213" alt="Screen Shot 2021-08-13 at 2 49 40 PM" src="https://user-images.githubusercontent.com/12138336/129405844-f06aac82-f108-4aac-9da4-6d31d69737fb.png">

[2021-08-13 19:48] gesabo commented on #104
@willdale is there a way I can force the ExtraLine Point Marker to alway show, in my code here below... the middle value's (5.5) point parker does not show because it is covered by the green range.  If I set the RangeLineStyle's FillColour to .clear then the 5.5 point shows.  🤔
[code]

[2021-08-17 07:31] willdale commented on #104
should be fixed in v2.9.1

[2021-08-17 10:47] dsaliberti opened #108 "LineChart and BarChart combined?"
Hi 👋
I searched for it in the repo and couldn't find it and I'm still not sure if it's somehow possible.
I need a combination of 2 chart types: line and bar.
I imagine that I can try to achieve that by going purely on SwiftUI (maybe a ZStack) but wanted to check here.

side note: the demo project doesn't have an Xcode project (not sure if that was intentional)

Great work guys!
Thanks ✨
Danilo

[2021-08-17 13:43] gesabo commented on #104
@willdale it is, thanks! 🍻

[2021-08-17 21:01] gesabo opened #109 "RangedLineChartDataPoint's PointColour .fill not working as expected?"
When I add `pointColour: PointColour(border: .red, fill: .green)` to a `RangedLineChartDataPoint` as I am below, the boarder color will render but not the fill color.  Is something else overriding it?  🤔

[code]
[code]

[2021-08-18 02:21] wyk111wyk opened #110 "Is any way to set pointMarkers customized color or icon?"
![MultiLineChart](https://user-images.githubusercontent.com/8171481/129825836-ddf4c4c4-4cbd-4b53-9c4f-5fe8efa2f755.png)
Like this one as an example, there are different types of pointMarkers on the lines. But in code I only find a modifier ".pointMarkers", is any way I can set the largest point a special color and the mini one another?

[2021-08-18 07:41] willdale commented on #108
Hi,
You could use a Bar Chart with `.extraLine` view modifier on it.

[code]
[code]

---

Hmm,  I'll have a look at the Demo Project.

Thanks,
Will

[2021-08-19 07:16] willdale commented on #109
`pointStyle: PointStyle(pointType: .filledOutLine)`

[code]

[2021-08-19 07:16] #109 closed

[2021-08-19 07:19] willdale commented on #110
Hi,

There are four different shapes in `pointShape` -->`pointStyle: PointStyle(pointType: .outline, pointShape: .circle)`

You can override individual point colours in the datapoint.

[2021-08-19 07:21] willdale commented on #107
Hi, currently there is no way of doing this. In an ideal world what spacing options would you have?

[2021-08-20 19:50] rodri0315 commented on #107
Ideally extending the array of label strings to an array of label/value pairs (the string label and their corresponding values), and plotting those at the appropriate place y axis position.

[2021-08-20 20:04] gesabo commented on #64
@willdale revisiting this, have you given any thought to adding support for time/date plotting as is discussed above? In other words correctly plotting a chart of heart rates even though the samples non equal gaps in between (resting HR every 5 minutes vs. workout HR every second).

[2021-08-24 06:47] willdale commented on #64
@gesabo if you want to stick in a pull request, I'm more than happy to review it.

[2021-08-24 06:49] #110 closed

[2021-08-24 06:49] #108 closed

[2021-08-24 18:54] gesabo commented on #64
@willdale I would love to if I had those chops 🤣  but I'm not even sure where to start.

[2021-08-28 13:18] haozes opened #111 "How to make different distance of x on Line Chart"
hi, Thank you for awesome code.👍

Now in line chart  data points have equal distance  (Arithmetic sequence of x). something like this:
(x,y):
`(1, 2) (2,5) (3,6),(4, 1)`

In reality, x is not equidistant， how to show something like this:
(x,y):
`(1, 2) (4,5) (6,6),(9, 1)`

I don't know if I made it clear， will glad to hear from you.

[2021-08-30 06:09] willdale commented on #111
Hi, you. could set `LineStyle -> ignoreZero` to `true`. Then set 2, 3, 5, 7 and 8 to zero.

[2021-08-30 06:49] haozes commented on #111
Thank you for reply.
sorry ,I did not express it clearly
I mean, if we need unequal distance points on line chart(not unequal distance xLabels).
but as PathExtensions.swift shows:
[code]

As code mentions: every point has equal x distance, it's not expected in some case.

[2021-08-30 06:53] willdale commented on #111
`ignoreZero` means that the data point doesn't get plotted if it is zero (0). This allows you to set spacing.

[2021-08-30 07:05] willdale commented on #111
[code]

![Simulator Screen Shot - iPhone 12 Pro - 2021-08-30 at 08 03 45](https://user-images.githubusercontent.com/63838770/131299291-f5279840-262d-4d21-9bfd-397b3bc4aeef.png)

[2021-08-30 07:10] haozes commented on #111
Got it, Thank you for quick reply.

[2021-08-30 07:10] #111 closed

[2021-09-01 08:19] abymathew0485 opened #112 "StackedBarChartData - BarStyle CornerRadius not working."
When I try to set top corner radius for StackedBar using StackedBarChartData with the help of BarStyle property cornerRadius, it is not working.

[2021-09-01 15:31] LJNIC opened #113 "Overlaying content onto bars"
I know this is outside the scope of the library, but do you have any advice for if I wanted to overlay content onto the bars themselves. For example, an image at the bottom of each bar. Trying to guess at where the bars will end up and positioning them on top with a `ZStack` is fairly annoying, so I may hack something together in a fork.

![image](https://user-images.githubusercontent.com/32738636

[2021-09-02 06:00] willdale commented on #113
It's not necessarily outside the scope of the project. The pie chart already implements this feature. In [PieChartDataPoint](https://github.com/willdale/SwiftUICharts/blob/main/Sources/SwiftUICharts/PieChart/Models/DataPoints/PieChartDataPoint.swift), there is a property called `label` which is of type [OverlayType](https://github.com/willdale/SwiftUICharts/blob/main/Sources/SwiftUICharts/PieChart

[2021-09-07 09:38] ChristianOrgler opened #114 "Layout crash when all data points are zero"
**Pre-Info**
- I've tried the chart already with values, works perfectly
- Runtime: iOS 15 beta 8

**Usage-Case**
- Showing seven (weekdays) data points which have the value `0` (I don't want to use the no-data label)

**Crash**
[code]

[2021-09-07 10:33] willdale commented on #114
Hi, what chart type is it?

[2021-09-07 11:05] ChristianOrgler commented on #114
Oh sorry, BarChart

[2021-09-07 12:40] willdale commented on #114
No worries, I'll have a look.

[2021-09-08 07:23] #114 closed

[2021-09-08 07:26] willdale commented on #114
Fixed in v2.9.2.

Thanks
Will

[2021-09-08 07:54] ChristianOrgler commented on #114
Thanks for the fast fix!

[2021-09-10 07:05] #112 closed

[2021-09-10 07:08] willdale commented on #112
Fixed in v2.9.3.

[2021-09-14 20:56] philipyoungg opened #120 "MacOS 10 / iOS 13 support"
Anything I can do to support previous version?

[2021-09-26 00:03] bcyng opened #121 "disable animations"
is there anyway to disable animations?
currently I can do it by setting `globalAnimation: Animation.linear(duration: 0.0)` but this causes the chart to first be displayed as blank then the chart to suddenly appear after a few ms rather than be displayed completed upfront.

testing this with grouped bar chart

[2021-09-28 07:17] willdale commented on #121
From what I can see, `.animation(nil)` has been deprecated but `.animation(nil, value: 0)` has not.

Also there is a beta version of [animation(_:)](https://developer.apple.com/documentation/swiftui/text/animation(_:)).

[2021-09-28 07:20] willdale commented on #120
There are quite a lot of depreciations between iOS 13 and 14. There is also a change in the way things get laid out, so if you solve all the depreciations there there a few elements that need to be rewritten just for iOS 13.

[2021-09-28 14:09] bcyng commented on #121
.animation(nil, value: 0) doesnt have the same affect as .animation(nil).

the beta https://developer.apple.com/documentation/swiftui/text/animation(_:) is now final in iOS15 - doesn’t has the same affect as .animation(nil)

both of the above start display as the initial frame and then jump to the final frame. The result is the same as setting your .globalanimation modifier in that it initially re

[2021-10-05 10:01] dotWasim opened #123 "Allow line charts to have one data point"
I noticed that multi line chart doesn't appear because MultiLineChart view check if there are >= 2 points in each dataset in order to show it, otherwise it show CustomNoDataView view.  I believe even 1 point should appear in the chart, what do you think?

extension CTChartData where Self: CTLineChartDataProtocol,
                            SetType: CTMultiDataSetProtocol {
    public func isGreat

[2021-10-09 18:00] hahmed1 opened #124 "OutLineDataPointExtraLineView causing a huge performance impact"
First of off thanks for this project, I like it a lot.

I have recently run into an issue where loading a View takes an abnormally long time (like 4-5 seconds delay).

I profiled my application using the SwiftUI tool in Instruments and was able to narrow down the issue to the OutLineDataPointExtraLineView struct:

![image](https://user-images.githubusercontent.com/4490697/136667949-a7b5ece9-0674-4

[2021-10-16 08:49] willdale commented on #123
Hey @dotWasim, I agree, I didn't want to change it until there is a whole version change. I'll add it to the list.

[2021-10-25 11:00] diliedevs opened #125 "PieChart InfoBox Error"
Adding the .infoBox(chartData: data) view modifier to a PieChart gives the following error: Instance method 'infoBox(chartData:height:)' requires that 'PieChartData' conform to 'CTLineBarChartDataProtocol'.

How do I get the infoBox to show when I touch a piece of the pie?

[2021-10-26 07:59] #125 closed, assigned to nobody

[2021-10-26 14:04] ahartman opened #126 "Bar Chart: Negative values below the X-axis"
Beautiful library. However, it seems to suffer from an issue that many charting libraries have.
Bar graphs cannot have negative va:lues, i.e., below the X-axis. For me that is an requirement.

Regards, ahartman, belgium

[2021-10-26 22:41] gesabo opened #127 "Add more customization to Touch Overlay data points?"
More of a feature request, I would like the ability to be able to control the display of Touch Overlay.  Fo example if I have a line chart as well as an extra line.

One use case:  I have a line of data and a trend line (the trend line is built upon the same data but chunked).  I'd like to be able to only display points from the line of data in the touch overlay box and not show the extra line dat

[2021-10-29 18:26] willdale commented on #126
I'll look into it. It's won't be for a while.

[2021-11-01 16:21] iain-reid opened #129 "Adding xAxisLabels causes LineChart issues"
I may be misunderstanding the implementation - but I don't seem to be able to get the x-axis labels to align at the bottom of the chart.

I've set the style to make use of the `.chartData`, and provided those labels in the `LineChartData`. When I add this to the Chart itself, the yAxis labels remain the same - but the yAxis grid compresses to the top 50% of the view, as does the line - and the x-a

[2021-11-01 18:45] willdale commented on #129
Hey @iain-reid, The main issue is the order of the View Modifiers, `id` should be at the end it seams.

[code]

---

There were some other small layout issues with the implementation. They were solved by changing how the data is declared.

[code]

[2021-11-02 06:40] willdale commented on #124
Hey @hahmed1, I can't think what Firebase Analytics might be doing to `OutLineDataPointExtraLineView`.

One thing to try adding `.drawingGroup()` to the end of the declaration. [drawingGroup(opaque:colorMode:)
](https://developer.apple.com/documentation/swiftui/view/drawinggroup(opaque:colormode:))

1000 data points should be fine, I have no specific metrics for how many is too many.

[2021-11-02 06:47] #120 closed

[2021-11-02 07:10] willdale commented on #127
Hey @gesabo, I'm working of a new version of the library - [project board](https://github.com/willdale/SwiftUICharts/projects/10) and [version branch](https://github.com/willdale/SwiftUICharts/tree/release/3).

One of the changes is that the data model publishes the data points that are relevant to the touch location. I've also added a new modifier so you could add a custom view to display the dat

[2021-11-02 10:29] iain-reid commented on #129
Hi Will,

Thanks for the help, much appreciated! - I've managed to get the layout looking better:

![CleanShot 2021-11-02 at 10 25 38](https://user-images.githubusercontent.com/1871804/139829624-18a17682-5d6d-4418-870a-e36ee003030c.png)

With the following code:

[code]

However - the x-axis labels, and y-axis grid still seem a little misaligned. I was able to remedy by adding negative padding whe

[2021-11-02 13:49] willdale commented on #129
Hi @iain-reid, It's the way that the  `LineChartData` is initialised. As it's a computed property, a new `LineChartData` gets create each time.

There are calculations in the library that, it appears, can't run when declared this way. When I print out the padding required to layout to place the bottom label it returns 0.

When I change the in declaration to use a closure in the code snippet below,

[2021-11-02 16:27] gesabo commented on #127
Thanks @willdale looking forward to checking it out! 🍻

[2021-11-03 01:55] iaguedo opened #130 "Format numeric"
Very good graphics, in the data of the axes, you can format the numbers so that they come out with a comma and a period.
In the example photo I see that you put the comma, but I can't see how it does it.
Ejm: 10000.00 which is 10,000.00

[2021-11-03 08:30] willdale commented on #130
Good point, I'll look into it.

[2021-11-04 18:51] iaguedo commented on #130
Thank you

[2021-11-06 09:46] willdale commented on #130
This has been fixed in Release 2.9.4.

A new parameter has been added to `yAxisLabels`

[code]

[code]

This allows for much greater flexibility in the numeric y axis labels.

It overrides the `specifier` parameter.

Thanks,
Will

[2021-11-06 09:46] #130 closed

[2021-11-06 16:57] iaguedo commented on #130
Hi, when I use formatter, the Ylabels come out on top of the first xlabel.
When I use touchOverlay the displayed amount could also be formatted.
Thank you!!

![20211106_115026](https://user-images.githubusercontent.com/16063899/140617554-9bb27c30-594d-4724-a793-422d95d47380.jpg)

[2021-11-06 17:01] iaguedo commented on #130
I apologize, my mistake, I was putting the ylabel before the xlabel.
I would only have the doubt of formatting the value shown when making touch

[2021-11-09 20:11] gesabo opened #133 "Is there currently a way to ignore 0 for an Extra Line?"
I couldn't figure out a way presently to ignore 0 on an extra line in a LineChart.  I know that `ignoreZore` is an option on `LineStyle` but isn't on `ExtraLineStyle`, is there any other work around?  Otherwise my chart looks like the below:  (blue is the extraLine data.
![IMG_220FF8EF1DA1-1](https://user-images.githubusercontent.com/9816100/140997369-6c7452c8-b081-4523-84e3-fae058b02a19.jpeg)

[2021-11-10 00:33] gesabo commented on #133
I ended up just switching to a MultiLineChart which works well and enables me to ignore zeros so probably not something that is necessary.  👍

[2021-11-10 18:48] pinventado commented on #133
I'm also using a MultiLineChart with ignorezero to hide some data points. However, it seems like the baseLine is set to 0 even though I don't have points that are zero. I'm assuming this is because there is a data point that's zero, but just hidden. Unless I'm missing something?

[2021-11-11 21:34] pinventado opened #134 "LineChart baseline not set when all elements are zero"
Not sure if I'm doing this wrong, but it seems like the baseline on a line chart is automatically set to zero when all data points are zero. I want to display an empty chart with extra lines and POI, but can't move the baseline by setting it on the line chart style.

![image](https://user-images.githubusercontent.com/341001/141372110-5e99fc47-17c5-49b4-9e81-89d4c9717163.png)

I tried to confirm th

[2021-11-13 09:56] willdale commented on #134
Hey @pinventado, can you post some minimum reproducible code please?

[2021-11-13 09:57] willdale commented on #133
Hey @gesabo, I'll look at adding the feature to extra line in v3.

[2021-11-13 10:01] #129 closed

[2021-11-14 09:34] willdale commented on #130
This has been fixed in v2.9.5

[2021-11-14 09:35] willdale commented on #133
Hey @pinventado, it has been fixed in V2.9.5.

[2021-11-14 09:35] #133 closed

[2021-11-14 10:03] #124 closed

[2021-11-14 13:01] kennedycraig opened #139 "Animation Keeps Redrawing (iOS 15)"
https://user-images.githubusercontent.com/10380669/141681990-d107a625-413c-42b3-9d06-8b23b4e5e73f.mov

Hi Will, I could use some suggestions on this one. Since upgrading devices to ios15, I see an issue with animations redrawing themselves on some charts. There is no animation explicitly provided for the view. Interestingly, I don't see the behavior in the simulator. If I try to turn off the anima

[2021-11-14 13:32] kennedycraig commented on #139
One point to add. The simulator is running 15.0 - the device 15.1

[2021-11-14 13:40] kennedycraig commented on #139
And one more...I subtracted the code for the barchart out of the main view into a subView and that solved it. Not sure why. Maybe something to do with the @State variable which holds the barchart data.

[2021-11-14 14:05] willdale commented on #139
Out of interest, at the end of the view modifier chain, do you have `.id(chartData.id)`?

[2021-11-14 14:56] kennedycraig commented on #139
I do, Here is the relevant code - quite simple.
`        let metadata   = ChartMetadata(title: "Sentiment", subtitle: "By Hour")

        let gridStyle  = GridStyle(numberOfLines: 4,
                                   lineColour   : schemeTheme.currentForeground.opacity(0.25),
                                   lineWidth    : 1)

        let chartStyle = BarChartStyle(infoBoxPlacement   : .header,

[2021-11-14 16:21] willdale commented on #139
Hmmm, I can't replicated it. Hows the data being fed into the chart?

[2021-11-14 16:21] pinventado commented on #134
Sure! I hope you don't mind me reusing your code on a separate issue. It seems like I also found a related issue while creating this example.

To reproduce the original issue I brought up regarding baselines, switch the value of the 4th datapoint's value from 5 to 0. When the data point value is 5, you see that the baseline is at 3.  However, when its set to 0, the baseline becomes 0 even though i

[2021-11-14 17:57] kennedycraig commented on #139
Firestore back end, combine pipeline, @State variable populated on change of the data in the pipeline (which is only pulled when a tab changes or onAppear). The Firestore back end is approached through query, not through listener, so there should not be an active push. Code below. Note, once I pulled the chart logic into a subview and just passed in the data, the issue went away and the animation

[2021-11-15 08:55] willdale commented on #139
Hey @kennedycraig, a hypothesis... In some other issues and my own use, I've seen issues were setting the data points in `onAppear` can cause problems:
The view renders with zeroed out data points -> onAppear is called -> data points change -> the view re-renders -> onAppear is called .............

So by pulling the chart into a subview, the `.id(bcd.id)` can more easily track state change vs a w

[2021-11-15 10:47] kennedycraig commented on #139
It does, Will. I already refactored the 4 places in the project that it was used in this manner. I’d checked the onChange call to see whether there was something in the combine pipeline that was doing that, but not the onChange. On the weekend, I’ll test out to see if that was the issue. I think I was thrown by the apparent change in behavior from ios14 to iso15. We can close this issue and I’ll r

[2021-11-17 01:45] iaguedo commented on #130
Thank you so much

[2021-11-17 02:49] gesabo opened #140 "How to hide the thin line to the right of the YAxisLabels?"
Apologies if this is obvious, but I've tried everything I can think of and cannot find a way to hide or make clear this thin hairline to the right of yAxisLabels (as well as the line on top of the xAxisLabels) i.e. the left and bottom boarder lines of the chart.  Is there anyway to do this?

![image](https://user-images.githubusercontent.com/9816100/142117869-f67c2362-b8c8-4701-996a-f214d38e2fde.p

[2021-11-17 02:59] iaguedo opened #141 "values in the points"
How about dear, thanks for the help, now I have another question

There is a way that on the points in the bars or lines they show the values without having to do touch

[2021-11-17 08:34] willdale commented on #140
I'll have a look.

[2021-11-25 08:12] ahartman commented on #126
I must correct myself. All bar charts correctly display negative values except the stacked bar chart.
Naturally, it is the stacked bar chart that I need!

Please see example below.
Regards, ahartman, belgium

<img width="769" alt="Schermafbeelding 2021-11-25 om 09 11 58" src="https://user-images.githubusercontent.com/688316/143403960-5bdf22e4-22d6-4279-9ea5-b417fd4e3eac.png">

[2021-11-25 08:15] #139 closed

[2021-11-28 15:30] ahartman opened #142 "extraLineLabel require separate formatting"
Displaying an extra line with a separate 2nd Y-axis is something you normally do to display a separate data series that is functionally related to the main data series. That also means the 2nd Y-axis probably will display data of a different nature, i.e., monetary values €12,45 of the main Y-xcis and an integer value on the 2nd Y-axis.

However, the 2nd Y-axis follows the formatting of the main Y-

[2021-11-29 10:37] ahartman opened #143 "FATAL ERROR at orientation change"
I have two graphs, a multi-line chart and a stacked bar chart; both display an extraLine.
When using GeometryReader for the frame size, the app crashes at an orientation change; with fixed numbers for frame size redrawing is ok.
Please see below:
1. code for the view
2. error message from Xcode
3. code where the crash occurs
<img width="883" alt="Schermafbeelding 2021-11-29 om 11 26 04" src="https

[2021-11-30 07:52] ahartman opened #144 "Padding not respected"
In landscape the scales are drawn into the padding area.
In portrait the same happens; additionally the horizontal padding is not respected.

See images below.
![Simulator Screen Shot - iPhone SE (2nd generation) - 2021-11-30 at 08 49 40](https://user-images.githubusercontent.com/688316/144007104-65aa9b95-32a4-42c8-b899-e1f08cea82f7.png)

![Simulator Screen Shot - iPhone SE (2nd generation) - 2021

[2021-12-01 20:18] willdale commented on #144
Can you post your view code please?

It looks like (maybe) the view modifiers are out of sequence .

[2021-12-02 07:44] ahartman commented on #144
Dear Will Dale,

Thank you for the quick answer.
Even if this is a view modifier order issue, I would still not expect the app to crash.
Please find the whole project attached.

The two graphs are in IntraGraphView and InterGraphView; these are action sheets in IntradayView and InterdayView.
The app gets data from a REST interface on my NAS. You will have to mock up some data to get the app to run

[2021-12-07 07:14] willdale commented on #143
While couldn't replicate the fatal error, I did find a potential issue in that area.

There is a fix for that in v2.9.6

---

Looking at your view, my suggestion would be to:
- Put the `GeometryReader` inside the `NavigationView`
- Add `.id(data.id)` the the view after `.legends()
- Move everything from `StackedBarChart` to `id()` into a sub view.

[2021-12-07 07:14] #143 closed

[2021-12-07 07:22] willdale commented on #144
Hi @ahartman, the crash is a separate issue, in this issue we are talking solely about the view layout.

I can't see a project and I don't open projects from unknown sources. Can you post just the view code?

Thanks,
Will

[2021-12-07 07:35] ahartman commented on #144
Dear Will Dale,

Please find the code below:

import SwiftUI
import SwiftUICharts

struct IntraGraphView: View {
    @EnvironmentObject var viewModel: ViewModel
    @Binding var showGraphView: Bool

    let data: MultiLineChartData = makeData()
    let extraLineData = makeExtra()
    static var yLabelsNumber = 10

    var body: some View {
        NavigationView {
            VStack {

[2021-12-07 07:38] willdale commented on #144
Hey @ahartman, thanks. Does the MultiLineChart have the same issue as the RangedBarChart pictured above?

[2021-12-07 07:41] ahartman commented on #144
Dear Will Dale,

Yes, it certainly does.

Met vriendelijke groeten, Kind regards, Meilleures salutations,
André Hartman

[2021-12-07 08:35] ahartman commented on #144
Dear Will Dale,

The code I posted this morning is incorrect as it is without GeometryReader.
Please find corrected code below. The crash seems to be caused by the use of 'geo' in .frame.

If you leave GeometryReader in but comment out the .frame line using geo and uncomment the .frame line that does NOT use geo, the crash does not occur. This is identical for the StackedBarchart as well as the Mu

[2021-12-07 08:54] ahartman commented on #144
Dear Will Dale,
I had a brain wave with surprising effects, reversing NavigationView and GeometryReader and placing GeometryReader INSIDE NavigationView. The crash now no longer occurs but the ExtraLine is now displayed three times in the legend of the chart, see attached images! Both charts display the ExtraLine legend three times, totally weird!

![Simulator Screen Shot - iPhone SE (2nd generati

[2021-12-10 07:32] wyk111wyk opened #147 "Is anyway to make legendTitle stay on screen when chart itself has been scrolled?"
What I mean is that is any way to put legendTitle and chart to separate layers, then I can pin the legendTitle on the screen but only move with chart (when it is too large and in a scrollView)?
See the attachments for current display
![IMG_8D46AA603C9C-1](https://user-images.githubusercontent.com/8171481/145534869-a81c9e96-253f-46ea-99ed-82380206b4b6.jpeg)
![IMG_2F47DCE53687-1](https://user-images

[2021-12-16 05:42] kunalverma25 opened #148 "Negative Values going out of frame/bounds (BarCharts)"
For both Horizontal and vertical bar charts, negative value bars are drawn out of the frame.
If the horizontal chart is full width or vertical chart is full height then negative bars will be drawn out of the screen.

Eg -
![Screenshot 2021-12-16 at 11 10 05 AM](https://user-images.githubusercontent.com/5118260/146314908-8ab44f26-5ebf-47b3-b96c-d513504392d8.png)

[2021-12-16 06:48] kunalverma25 commented on #148
This is because of scaleEffect doesn't change the frame.
Any idea how to fix this?

[2021-12-17 02:00] kunalverma25 opened #149 "Add Padding between Y-Axis and Line Chart’s Starting"
Is it possible to add any padding between the drawn Y-Axis and the starting point on X-Axis in line charts?

[2021-12-17 03:28] kunalverma25 opened #150 "Possible to add multiline labels to Axis Texts?"
Currently the line limit is harcoded and set to 1.
Possible to make it configurable to accommodate multi-line labels?

[2021-12-17 09:20] kunalverma25 opened #151 "Stacked Chart's orientation horizontal"
Is it possible to have the stacked chart in a horizontal orientation?

[2021-12-17 10:20] kunalverma25 opened #152 "Different BarStyles support in StackedChart for different Data Sets"
Can it be possible to add support for having different BarStyle associated with different bars in stacked chart?

[2021-12-18 23:07] kunalverma25 opened #153 "Bubble Chart/Scattered Chart Support OR Support for setting individual point sizes in LineChart"
Is it possible to add a bubble chart like -
![](https://datavizcatalogue.com/methods/images/top_images/bubble_chart.png)

I've managed to make something similar using multi-line chart, but as the chart doesn't support different/individual point sizes the exact bubble chart can't yet be implemented using the library as of yet.

[2021-12-18 23:25] kunalverma25 commented on #148
@willdale Any fix for this?

[2021-12-24 05:12] kunalverma25 commented on #148
Even with baseline set properly, the bar chart does not respect that and starts drawing only from the baseline itself.

![Screenshot 2021-12-24 at 10 39 32 AM](https://user-images.githubusercontent.com/5118260/147319093-0180d57f-0b20-4717-b115-e32071b7a9d8.png)

[2021-12-24 05:39] kunalverma25 commented on #149
Current -
![Screenshot 2021-12-24 at 11 07 13 AM](https://user-images.githubusercontent.com/5118260/147321000-01aa95ff-8bf3-41ce-b463-b9b7bf7896ab.png)

Desired -
![Screenshot 2021-12-24 at 11 07 37 AM](https://user-images.githubusercontent.com/5118260/147321025-b48902f2-ebca-4011-acaf-3d474d732aa7.png)

[2021-12-24 05:49] kunalverma25 commented on #38
Will it be possible to have the Y-Axis Legends/Tags not scrollable, but rest of the chart scrollable?

[2021-12-29 15:48] 1337domz opened #154 "pointMarkers modifier causing X Axis not to be visible until scrolled"
A strange bug - with the attached code if you comment out the pointMarkers modifier the X Axis displays as expected, but with it in it appears not to be visible. If you wrap the chart in a ScrollView and trigger some motion, the X Axis does appear after being scrolled.

<img width="384" alt="Screenshot 2021-12-29 at 15 47 11" src="https://user-images.githubusercontent.com/5438325/147679574-38acf36

[2021-12-30 10:33] willdale commented on #141
I'll look in to this in V3.

[2021-12-30 10:39] willdale commented on #148
I'll look in to this in V3

[2021-12-30 10:42] willdale commented on #151
I've been meaning to add this. Hopefully V3.

[2021-12-30 10:43] willdale commented on #152
What do you want to do in the separate bar styles?

[2021-12-30 10:44] willdale commented on #153
I'll look in to it.

[2022-01-03 04:34] kunalverma25 commented on #152
That can allow the library to plot charts like this -
![083C56D0-CAA2-4542-92C9-44D6921E10F7](https://user-images.githubusercontent.com/5118260/147899946-3763d6dc-671d-42eb-ab2e-34035e0ce672.jpeg)

[2022-01-03 04:39] kunalverma25 commented on #147
Also related to this is it possible to pin the Y-Axis to the screen and only let the X-Axis scroll?
The Y-Axis should not go out of screen but remain at left/right but the X-Axis contents get scrolled only..

[2022-01-03 07:10] kunalverma25 opened #156 "Different Styling (solid colors) in single LineChart?"
Is it possible to create something like this?
Have a different styling above and beneath yAxisPOI/Avg Markers?
![1A104B92-A837-4541-99F2-9C843CD0C647](https://user-images.githubusercontent.com/5118260/148340043-16a4c940-7507-4141-a7a8-99dd56bbd7ea.jpeg)

[2022-01-05 06:14] kunalverma25 opened #157 "Enable Corner Radius modification for all corners for bar charts"
Some chart types/designs might require corners other than top and bottom to be modified, such as horizontal chart with left/right corners rounded off.

[2022-01-05 07:47] willdale commented on #157
Thank you for your contribution, this has bee released in v2.9.7.

[2022-01-05 07:47] #157 closed

[2022-01-10 00:40] kunalverma25 commented on #156
This is possible via using gradient stops of single colors in line style like:

[code]

Edited the issue title to reflect the same, closing it. And adding the snippet so it might help someone.

[2022-01-10 00:41] #156 closed

[2022-01-10 00:54] kunalverma25 opened #159 "Different Stroke Styles in the same line"
While it is possible to have different solid colors in a single line using gradient stops (issue 157)
It doesn't seem possible to have different stroke styles for a single line in a chart to create something like this -
![Screenshot 2022-01-10 at 6 13 54 AM](https://user-images.githubusercontent.com/5118260/148708211-58f6443e-7056-4ab2-a757-b5b6c840ce01.png)

[2022-01-11 02:40] kunalverma25 opened #160 "Option for adding POI labels at the opposite end of the axis"
This addition of option can enable chart configuration like this -
![Chart with Average Line](https://user-images.githubusercontent.com/5118260/148871771-da56c174-f6f3-471e-ad2f-567b02d0d0dd.png)

[2022-01-11 02:49] kunalverma25 opened #162 "Option to provide custom shape and padding to POI Labels"
While adding the ViewModifier for X-Axis/Y-Axis/Avg POIs, provide input to customise the POI Label shape/padding.

[2022-01-12 14:18] mxjcyw opened #163 "Why did MultiLineChart repeatedly draw lines points on the watchos"
How can I set it to work like LineChart

[2022-01-12 20:09] willdale commented on #163
Hey @mxjcyw,

I'm not super sure what you mean? Is the line re-rendering it's animation in a loop?

Please could you post the code you're having issues with?

---

Here is a [Gist](https://gist.github.com/willdale/7f9bead20117ace09dcda435ca7fe283) with a working implementation of multi line chart for WatchOS.

[https://gist.github.com/willdale/7f9bead20117ace09dcda435ca7fe283](https://gist.github.

[2022-01-12 20:25] willdale commented on #154
Hey @1337domz, sorry for the late reply!

Is this just in the previews? I can't replicate it on a device or a simulator but I can when in a preview.

Heres another issue [#89](https://github.com/willdale/SwiftUICharts/issues/89) to do with x axis labels in previews.

Thanks,
Will

[2022-01-12 20:27] willdale commented on #150
I'm re-implementing axis labels in version 3. I'll look into it for that release.

[2022-01-12 20:29] willdale commented on #142
Hey @ahartman, Sorry this one slipped by me!

I'm working on a new version of the library, I've addressed it in that.

[2022-01-12 20:32] willdale commented on #159
Hey @kunalverma25,

`.stroke()` gets applied to the whole line. I don't think there is a clean way to implement this in the library at the moment.

[2022-01-13 01:39] kunalverma25 commented on #150
Awesome!

[2022-01-13 08:12] willdale commented on #163
Without seeing any code it's hard for me to work out what might be going on.

One thing you could try would be to add `.id(data.id)` at the end of the chain of modifiers.

[2022-01-13 09:00] mxjcyw commented on #163
Thank you for your reply. I hope add new point will be refreshed only once, and there is no animation effect. I don't know whether it can be realized

import SwiftUI
import SwiftUICharts

var inx = 0

struct MultiLineChartWatchDemo:View {
    @State var lineDatas1:[LineChartDataPoint] = [LineChartDataPoint]()
    @State var lineDatas2:[LineChartDataPoint] = [LineChartDataPoint]()

    var body: so

[2022-01-13 20:20] 1337domz commented on #154
Hey @willdale

Weirdly this happens on simulator but no on device. I have had issues with the library and disappearing X-axis on device though, and I thought I had found a minimum reproducible case but maybe not? Maybe there are multiple issues?

Here is it happening in the simulator though:

Xcode 13.2.1
iOS 15.2
Library added via SPM

https://user-images.githubusercontent.com/5438325/149403296-e

[2022-01-16 01:48] kunalverma25 opened #164 "Stepped Line Chart"
Any way to create a stepped line chart like the one below -

![A93759D8-0C73-4984-9369-C84F7046B8A7](https://user-images.githubusercontent.com/5118260/149644159-18225f41-ae34-4bca-a0d8-32d6be1e99a0.png)

[2022-01-16 05:44] kunalverma25 commented on #61
@willdale This issue is still present..
Because of this line -
`
chartData.viewData.xAxisLabelHeights.append(geo.frame(in: .local).width)
`
Changing width to height solves this.

[2022-01-16 21:15] kunalverma25 opened #166 "Bug: Longer X-Axis Titles causes chart to distort"
Width of the text is substituted as height, which is causing this UI issue.
Notice the distance between the Axis Title (MONTHS) at the bottom and the actual axis.

![Screenshot 2022-01-16 at 11 21 30 AM](https://user-images.githubusercontent.com/5118260/149678317-5d2d6d53-860d-41e9-b933-3b3fc3bcaf40.png)

[2022-01-19 14:09] kunalverma25 commented on #159
Closing the issue as stroke gets applied to the full line.
Leaving a way to achieve the desired UI for anyone in need -

One way this can be achieved is by creating a multiline chart with both lines having the same data set.
Then adding Gradient stops of required color (green and red in above image) and clear to the line styles of those line data sets.
Line 1 (which will correspond to the top part

[2022-01-19 14:09] #159 closed

[2022-01-20 09:17] GF106 opened #169 "Bar Chart you can't change the color of the legend"
Please add the ability to change the color of the legend to the release
![Снимок экрана 2022-01-20 в 12 17 45](https://user-images.githubusercontent.com/32198552/150309503-7e295cf1-59dc-476f-a353-0120cdfd643d.png)

[2022-01-25 15:50] kunalverma25 opened #170 "ExtraLine ignores the stroke passed in ExtraLineStyle"
The stroke is only updated/shown in the legend.
Not in the actual chart, which should also be the case.
![Screenshot 2022-01-25 at 9 19 36 PM](https://user-images.githubusercontent.com/5118260/151010446-e243779a-36cf-49bb-9b02-f5301318b3a2.png)
.

[2022-01-30 11:10] #164 closed

[2022-01-30 11:29] #160 closed

[2022-01-30 11:29] #162 closed

[2022-02-03 15:28] ns1045 opened #172 "Points in line diagramm do not match values"
In a line diagram the marked points do not match the corresponding values. The y-Axis is shifted by ca 6
<img width="1618" alt="PointsOfValuesDoesNotMatches" src="https://user-images.githubusercontent.com/16956482/152373263-17bc2770-e3bf-4cdc-b9a3-5e24adc89d0f.png">

[2022-02-04 16:29] gesabo opened #173 "Option to Hide Chart Line between certain points?"
I'm working on a chart that has a few values that begin at 0 until the first point that is above 0.  I need the 0 points there to preserve proper spacing, but I also need a line between my points.  So my chart has a line at zero until the first point (see below)  I don't think there's a way to handle this currently?  It would be nice to be able to control the points the line begins and ends etc.

[2022-02-05 17:29] gesabo commented on #173
It might be best to be able to change the color of the line between certain points, that was you can use .clear if you want to hide it, but also gives the option to make the chart more dynamic by changing the color of the line above or below certain thresholds.

[2022-02-17 22:46] fredeiden commented on #173
Try setting ignoreZero to true in LineStyle and see if that helps.  It worked well for me in a multi-line chart where the sets of data points did not have the same number of values.  I padded the shorter set with zeros and presented a chart line that stopped sooner than its counterpart.

<img width="380" alt="Screen Shot 2022-02-17 at 2 43 59 PM" src="https://user-images.githubusercontent.com/5623

[2022-02-17 23:58] gesabo commented on #173
@fredeiden thanks I've used ignoreZero to solve other issues but here particularly I was looking to keep the zero values so that they took up a space on the X Axis (yet not color the line above them)

[2022-02-19 05:20] fredeiden commented on #173
Here is another idea.  This is cheating, but it looks right to an observer.  How about a MultiLineChart with two LineDataSet elements.  One is your set of numbers greater than zero, but padded with zeros at the front to push it to the right.  This has a LineStyle with ignoreZero set to true. The second LineDataSet has leading values of 0.01 and then trailing zeros.  This uses a LineStyle with a st

[2022-02-19 14:24] gesabo commented on #173
@fredeiden good thought and very clever! I will give a shot!

[2022-02-19 17:32] fredeiden commented on #172
I was not able to replicate your result.  Maybe attach the rest of your code?  I made a simplified version of your implementation and got a correct result.  You might be able to spot something that is causing your issue.
`
struct Chart: View {

    let data = lineData()

    var body: some View {

        LineChart(chartData: data)
            .pointMarkers(chartData: data)
            .xAxisGrid(

[2022-03-12 10:45] #126 closed

[2022-03-12 10:46] #148 closed

[2022-03-12 10:52] willdale commented on #126
Thanks to [kunalverma25](https://github.com/kunalverma25). This is fixed in v2.9.8.

[2022-03-12 10:52] willdale commented on #148
Thanks for your PR.

[2022-03-12 10:53] #166 closed

[2022-03-12 10:54] #170 closed

[2022-03-13 18:02] ns1045 commented on #172
Thnx @fredeiden

I can reproduce the strange behaviour with following code
`struct Chart: View {

  let data = lineData()
  let height: Double;

  init(_ height: CGFloat) {
    self.height = height;
  }

  var body: some View {

    FilledLineChart(chartData: data)
      .pointMarkers(chartData: data)
      .xAxisGrid(chartData: data)
      .yAxisGrid(chartData: data)
      .yAxisLabels(chartData:

[2022-03-13 18:19] ns1045 commented on #172
`struct Chart: View {

  let data = lineData()
  let height: Double;

  init(_ height: CGFloat) {
    self.height = height;
  }

  var body: some View {
    FilledLineChart(chartData: data)
      .pointMarkers(chartData: data)
      .infoBox(chartData: data)
      .yAxisLabels(chartData: data)
      .xAxisLabels(chartData: data)
      .id(data.id)
      .padding()
      .frame(height: height)
  }

[2022-03-15 19:51] gesabo opened #174 "Bug in 2.9.8?"
I'm not sure if its just me or the cause but this same chart which looked fine in 2.9.7, now in 2.9.8 the Legend (the word "Trend") is overlapping the xAxis values, see below, 2.9.7 is on the bottom.
![IMG_4117](https://user-images.githubusercontent.com/9816100/158459845-8cbd26d9-f8ab-4ade-9a7a-b5d460527367.jpg)
![IMG_4118](https://user-images.githubusercontent.com/9816100/158459856-5ceb697f-4642-

[2022-03-16 07:41] willdale commented on #174
This should be fixed in v2.9.9.

Thanks

[2022-03-16 07:41] #174 closed

[2022-03-18 21:41] mvolkmann opened #176 "Q: space for infoBox"
How does a LineChart know how much space to leave between the metadata title and the top of the chart for displaying and infoBox when the user taps on the chart?

[2022-03-18 21:46] mvolkmann commented on #176
When I display an infoBox, it throws off the alignment of the axes. The x-axis no longer starts at the bottom of the y-axis and instead is moved part way up on the y-axis.

[2022-03-18 21:52] mvolkmann commented on #176
In my `LineChartStyle` I have the following:

[code]

[2022-03-19 15:25] willdale commented on #176
The space is set by the view modifier `.infoBox(chartData: data, height: 140)`, the default set to 70.

I'm not sure what exactly the issue you're facing is, could you post a screenshot please?

It might be the order of the view modifiers as each one wraps a stack layer around those that come before. `.infoBox` should probably be near the end of the chain.

I just noticed a placement issue with wi

[2022-03-21 15:15] sai-manoj-kumar opened #178 "Corner radius not correct for horizontal bars with smaller values"
Due to the scaleEffect on the xAxis in the HorizontalColourBar the smaller bars are not rounded properly.
Please note the difference in underlined bars.

<img width="353" alt="image" src="https://user-images.githubusercontent.com/647333/159291742-fb686b8e-f450-46af-b8ff-50cd1ee6b897.png">

[2022-03-21 15:29] mvolkmann commented on #176
Here is my code that creates the chart:

[code]

[2022-03-21 16:14] sai-manoj-kumar opened #180 "Podspec file's version is not updated in last few releases"

[2022-03-23 05:20] sai-manoj-kumar commented on #174
@gesabo I am working on fixing this issue after including the reverted fix. I am not able to repro this issue with MutliLineChart. Can you please share the code you used to create this chart? In specific, I want to understand which chart type you are using.

[2022-03-24 17:46] willdale commented on #180
Thanks for the heads up. Fixed.

[2022-03-24 17:46] #180 closed

[2022-03-25 14:49] gesabo commented on #174
@sai-manoj-kumar after checking my code I realized I was actually adding my own custom "legend" for the word Trend in the screenshot, so whatever changed in version 2.9.8 somehow made my Text view overlap the chart:
[code]

[2022-03-26 16:25] gesabo opened #182 "Animations animating twice?"
I love the animations of this library but I've noticed sometimes they animate twice or more.  I'm sure it's related to the data I'm loading and the views withdrawing but wondering if there are any tips or advice to prevent it from animating multiple times? 🤔

[2022-03-27 19:58] Vincz opened #183 "Display values on mouse over"
First of all, thanks for this amazing library. I tested a lot of charts libs with Swift and this one is by far the cleanest.

I was wondering, if it is possible, at least with Mac OS, to display the graph value on mouse over instead of touch. Kind of like the Stocks app graphs on Mac Os. When the mouse move over the graph, the nearest point is highlighted and his value is displayed.

Thanks!

[2022-03-28 15:02] sai-manoj-kumar commented on #174
@gesabo, Thanks for sharing the code. I think it is happening because of the spacing of -20 in your VStack. I was able to repro the issue along with the PR. After removing the spacing: -20, the issue is gone. Please confirm if this works or not.

[2022-03-28 15:23] gesabo commented on #174
@sai-manoj-kumar thank you yes it seems like removing spacing of -20 solves the issue using version 2.9.8 and 2.9.9 as well.  👍

[2022-03-28 16:32] sai-manoj-kumar commented on #174
@gesabo Thanks for confirming it quickly.

@willdale Can you please revert the reverted PR again? Thanks

[2022-03-31 02:01] BeauNouvelle opened #184 "Selection & Highlight Tools"
The ability to select values would be a great addition to this library.

So far we have touch overlays, but I was thinking touch/click and drag to select multiple values would be even better!

What's the use case for this?

Let's say I have a bunch of 6-axis motion capture data that I want to clean up:
![Screen Shot 2022-03-31 at 12 58 09 pm](https://user-images.githubusercontent.com/13442331/1609

[2022-04-02 06:52] willdale commented on #182
Hey @gesabo, can you post some minimum reproducible code please? There can be multiple reasons why this can happen.

One option could be to add `.id()` to the end of chain of functions, you may already have this, or maybe put the chart in a sub view - see: #139.

[2022-04-02 06:54] willdale commented on #183
Hey @Vincz, I'll add this to the list for next major version.

Thanks for the suggestion.
Will

[2022-04-02 06:56] willdale commented on #184
Hey @BeauNouvelle, this would be cool, I'll look to add it into the next major version.

Thanks
Will

[2022-04-02 07:03] willdale commented on #178
Hey @sai-manoj-kumar, just linking this to an existing issue: #58. I'll review your PR.

[2022-04-03 06:40] AvdLee opened #185 "X labels height is miscalculated"
Looking at this code:

https://github.com/willdale/SwiftUICharts/blob/7b50b531c36f30d41b5208f7dbc63df245936849/Sources/SwiftUICharts/SharedLineAndBar/Views/RotatedText.swift#L58

Shouldn't we add the height to the `xAxisLabelHeights` instead of the width?

[2022-04-03 07:11] willdale commented on #185
Hey @AvdLee, you beat me to my mornings' task.

[2022-04-03 11:29] AvdLee commented on #185
That was fast, thanks a lot! Closing this one accordingly.

[2022-04-03 11:29] #185 closed

[2022-04-03 18:46] gesabo commented on #182
@willdale thanks! Yes already knew to use `.id()` but will try nesting in a subview as well.  I don't think it has to do with the chart itself, it's probably related to my data publishers firing multiple times. 👍

[2022-04-03 18:47] #182 closed

[2022-04-11 01:12] gesabo opened #189 "Attempting to Screenshot Chart in UIImage, LineChart's lines and points disappear?"
Using the code below I'm attempting to build a share feature to share the chart (the demo uses the LineChartDemoView from the example app) however when you try and capture the view (tap on the share button), the lines and points are missing on the SwiftUIChart in the `UIImage`.  Is there a way around this issue?  I thought it might be related to the animation but setting the `animation` to `nil` d

[2022-04-22 09:12] funkenstrahlen commented on #58
I can confirm this bug.

[2022-04-22 09:19] funkenstrahlen commented on #121
I also would like to have the ability to disable the animations. Maybe the best solution is to be able to pass in a custom animation. Then you also add the ability to customise.

[2022-04-23 08:14] willdale commented on #121
Custom animations are coming. Until then a solution is to add:

[code]

This should disable animations. For more see [https://www.avanderlee.com/swiftui/disable-animations-transactions/](https://www.avanderlee.com/swiftui/disable-animations-transactions/)

[2022-04-26 00:12] owenzhao opened #191 "BarChart Didn't Show Correctly When Replacing Point in BarDataSet"
[code]

When the app ran, the bar chart didn't show properly. The overlay and info box were correct. But the bar didn't draw.

https://user-images.githubusercontent.com/2182896/165194101-6a525950-dfe9-40ef-9dc6-cc7417bd7e0e.mov

[2022-04-26 00:44] owenzhao commented on #191
A Workaround I found was to recreate BarChartData each time.

[code]

[2022-04-27 06:55] #191 closed

[2022-04-27 07:05] willdale commented on #191
v2.10.0 should fix this.

[2022-04-27 07:26] owenzhao commented on #191
I forked this project and I thought for a period updated bar chart, my new animation was fitter.

https://github.com/owenzhao/SwiftUICharts

[2022-04-28 08:57] owenzhao opened #193 "Suggestion: Apply `specifier` from `yAxisLabels` to `floatingInfoBox`"
[code]

When it runs, it shows

<img width="1200" alt="Screen Shot 2022-04-28 at 16 54 29" src="https://user-images.githubusercontent.com/2182896/165716095-fcf01002-8fef-441f-93d8-140ca378f47b.png">

It would be better if it shows 94 KGS instead of 94 only.

[2022-05-01 11:09] owenzhao opened #195 "Is there a way to add multiple legends base on the color of the bars in BarChart?"
I had tried, but the legends created was based on each bar with many duplicates.

What I wanted was something like:
red bar, type 1
green bar, type 2
yellow bar, type 3

like above.

[2022-05-02 18:54] zcjhnsn commented on #189
@gesabo Did you ever figure this out? I'm running into the same issue

[2022-05-02 18:56] gesabo commented on #189
@zcjhnsn no I never did.  Ended up using another charts lib for the share function, would love to figure it out though!

[2022-05-03 01:04] owenzhao opened #196 ".xAxisLabels sometimes disappeared"
[code]
When running, sometimes the xAxisLabels disappeared. Any idea why this happened?

https://user-images.githubusercontent.com/2182896/166390706-55489d46-8d18-42a7-9ae5-1370570039ef.mov

[2022-05-04 20:37] gesabo opened #197 "How to remove xAxis and yAxis lines?"
Even without a grid or setting the gridlines to .clear, I can't seem to find a way to remove the thin xAxis and xAxis lines here, is there a way? 🤔

![image](https://user-images.githubusercontent.com/9816100/166821594-08dec246-56ce-429e-bdb0-d2b89d466634.png)

[2022-05-04 20:37] willdale commented on #189
Hey @gesabo and @zcjhnsn, on branch https://github.com/willdale/SwiftUICharts/tree/189-screenshot-chart-in-uiimage-linecharts, is a proposed fix for it. Currently, it is only tested on Line Chart.

Feel free to have a go and offer feedback, I'll look to add in the other chart types and to make it work on iOS 14.

---

Below is the client side code based off of @gesabo.

Add `.disableAnimation(char

[2022-05-04 20:40] willdale commented on #193
Hey @owenzhao, in the touch modifier there is an option for a number formatter.

[code]

[2022-05-04 20:44] willdale commented on #196
The `BarChartData` should remain constant - don't replace it, update the data points / data sets.

When `BarChartData` get initialised a `UUID` gets set which holds the state together. I think this might be the cause.

[2022-05-04 22:04] #193 closed

[2022-05-04 22:10] owenzhao commented on #196
Thanks. The issue disappeared with code:

[code]

[2022-05-04 22:10] #196 closed

[2022-05-05 05:49] Vincz opened #198 "Pie Charts with gradients"
Would it be possible to handle gradients colors within Pie or Doughnut Charts ?
Something like that?

![Gradient pie!](https://user-images.githubusercontent.com/10103298/35543191-62ccaf18-0529-11e8-9703-ec5886359ae3.png "Example gradient pie")

[2022-05-05 05:57] willdale commented on #197
Hey @gesabo, set
[code]

[2022-05-05 13:36] gesabo commented on #197
Thank you! 🙏

[2022-05-05 13:36] #197 closed, assigned to nobody

[2022-05-05 19:29] willdale commented on #140
Answered in https://github.com/willdale/SwiftUICharts/issues/197

[2022-05-05 19:29] #140 closed

[2022-05-06 15:52] gesabo commented on #197
@willdale for my use case I actually wanted to to keep the X and Y Axis labels for purposes of preserving space and setting their text color as `.clear` (I was trying to overlay 1 chart over another chart), and I found that these lines wouldn't be removed unless I removed, e.g. `.xAxisLabels(chartData: data)`.  I understand this is sort of "off label" use (bad pun 😆 ) but would be nice if ever pos

[2022-05-17 11:04] iain-reid commented on #121
I have these charts in a scroll view - when they are on-screen there is a noticeable lag as they scroll past (and animation doesn't play until you stop scrolling) - I've turned off the animations as I didn't actually want them, using the `.transaction {` method shown here - but the lag continues. Not 100% sure if it's the animations - but I can't think what else it might be... Is there any indicat

[2022-05-17 11:25] bcyng commented on #121
Put your data processing and fetch in a different thread - eg using Task.init() or something.

[2022-05-18 09:27] 4bh1nav commented on #134
I'm having the same problem. Any idea how to fix it?

<img width="396" alt="Screenshot 2022-05-18 at 2 51 52 PM" src="https://user-images.githubusercontent.com/2189854/169005411-6f9290fc-50c9-4dfa-a50f-1af61183c0c0.png">

[code]

[2022-05-20 06:21] #189 closed

[2022-05-20 19:56] #58 closed

[2022-05-20 19:56] #178 closed

[2022-05-21 12:54] funkenstrahlen commented on #58
Very happy to hear that we might have a solution for this now!

[2022-05-24 13:00] Albinzr opened #202 "Could not find module 'SwiftUICharts' for target 'x86_64-apple-ios-simulator'"
I'm getting this error after adding it using SPM, Can anyone help me fix this issue

<img width="1609" alt="Screenshot 2022-05-24 at 6 29 36 PM" src="https://user-images.githubusercontent.com/7425577/170040700-4347ae85-33b3-4e86-9c4b-c861ff57cb0d.png">

[2022-05-25 06:27] willdale commented on #202
Do you have another SwiftUI charts library in SPM?

[2022-05-25 07:20] Albinzr commented on #202
Nop, just this, and if I try installing using cocoapod, install fails also

[2022-05-27 07:35] liuao2010 opened #203 "How can I keep a fixed bar width and spacing in different data lengths"
I just want to keep the bar width and spacing the same in those three chart, how can I do?

 <img width="394" alt="1@2x" src="https://user-images.githubusercontent.com/15346926/170736309-01ad0464-7663-45eb-9961-b8284f80f948.png">

<img width="409" alt="2@2x" src="https://user-images.githubusercontent.com/15346926/170736313-7a4df58d-556b-4481-8a39-d9f7207ab7be.png">

 <img width="406" alt="3@2x" sr

[2022-05-27 15:38] Ale111 opened #204 "How can I have solid horizontal grid lines"
I'm trying to create a StackedBarChart with an horizontal solid lines grid, but I have not found a way to do this. I don't know where I'm missing.

Here is the end of my makedata()

`
let yAxisGridStyle = GridStyle(
                    numberOfLines: 7,
                    lineColour: Color.black,
                    lineWidth: 1,
                    dash: [1000]
                )

        return

[2022-05-27 16:57] willdale commented on #204
Hi, are you using `yAxisGrid` or `xAxisGrid` in the view?

[code]

[code]

[2022-05-27 18:24] Ale111 commented on #204
Yeap.. I was missing .yAxisGrid... my fault.
Thank you a lot.
Work fine now!
![Simulator Screen Shot - iPhone 8 - 2022-05-27 at 20 21 47](https://user-images.githubusercontent.com/9302237/170769078-f1a87965-60c9-4021-9081-10a8de58b374.png)

[2022-05-31 19:35] #204 closed

[2022-06-01 08:06] owenzhao opened #205 "Chart Expands When Window But Not Shrink"
[code]

https://user-images.githubusercontent.com/2182896/171357724-cb0414e5-8a55-4178-85c0-844794a50c8f.mov

[2022-06-06 14:39] gregorpichler commented on #197
I agree with @gesabo, it would be great if we could remove the line but still have the labels (xAxis and/or yAxis). If I set `xAxisBorderColour: nil` it only works if I remove `.xAxisLabels(chartData: data)`. Am I missing something here @willdale?

[2022-06-09 08:46] vilimas opened #206 "The small double number is not drawn."
I found an issue where then all values are smaller than 0.00001 it will be a flat line, and the graph will not zoom in.
Try to set a custom baseline and top line, but nothing changes.

Is this bug, or am I missing some settings?

![IMG_5986](https://user-images.githubusercontent.com/3592381/172805168-d8d3ca35-cc00-4634-be5b-712a8dec68b8.jpg)

[2022-06-12 09:07] gregorpichler opened #207 "Center label on xAxis"
Hi,

how can I center the labels on the xAxis? Ideally they are centered to the according the bar.

<img width="387" alt="Screenshot 2022-06-12 at 11 05 23" src="https://user-images.githubusercontent.com/4091405/173225816-30234fba-3f48-46bd-b0af-6c0e8c8f5c18.png">

Sample code:

`struct BarChartView: View {
    let yAxisLabels = [...]

    let style: BarChartStyle
    var data: BarChartData

    i

[2022-06-13 10:38] bcyng commented on #121
the transaction solution seems to have broken in iOS16 b1. not sure if this is a bug in the beta or whether they have intentionally broken it.

[2022-06-14 06:00] #203 closed

[2022-06-19 07:39] vilimas commented on #206
I found a problem line. So if the value is less than 0.001 it will not change the range value and will not center the graph. Just don't understand why it's needed.

https://github.com/willdale/SwiftUICharts/blob/9177c49ffc574a212e1604d2a268ddfda423a449/Sources/SwiftUICharts/SharedLineAndBar/Models/Protocols/LineAndBarProtocolsExtentions.swift#L34

[2022-06-19 08:19] #206 closed

[2022-06-22 21:55] mvolkmann opened #210 "how to hide tagged first value on y-axis"
How can I hide the value 11,929 on the y-axis annotated inside a red ellipse in this screenshot? It seems to want to show me the first chart value.
![SwiftUICharts](https://user-images.githubusercontent.com/79312/175146413-c7697ae7-b36c-4a9b-9638-a4034819e138.png)

[2022-06-22 21:57] mvolkmann commented on #210
It was a coincidence that the average value was very close to the first value.
The fix was to set `labelPosition` to `.none` in my call to `.averageLine`.

[2022-06-22 21:57] #210 closed

[2022-07-03 11:27] nikolafamit commented on #207
Use xAxisLabel from BarChartDataPoint by adding .dataPoint(rotation: Angle()) to BarChartStyle

`style = BarChartStyle(xAxisLabelsFrom: .dataPoint(rotation: Angle()),
                                       yAxisNumberOfLabels: 5,
                                       yAxisLabelType: .custom)`

[2022-07-03 23:04] nikolafamit opened #211 "yAxisPOI below 0 when xAxisLabelsFrom rotated 90 degrees"
When i rotate labels for 90 degrees in xAxisLabelsFrom for BarChartStyle, the yAxisPOI goes under 0.
On the pic yAxisPOI value is 500.
Also it's moved out of screen
<img width="350" alt="Screen Shot 2022-07-04 at 00 54 38 AM" src="https://user-images.githubusercontent.com/54851043/177060066-a3d81b28-e0a0-4c7e-a1f6-8c34eb0dc43f.png">
0

[code]

[2022-07-05 11:04] erdemildiz opened #212 "How can I change touchOverlay line color"
Hello,  I can change infobox style with below codes
[code]

but I can't change `touchoverlay` color. Is there any way to change this color?

![Simulator Screen Shot - iPhone 13 mini - 2022-07-05 at 13 52 52](https://user-images.githubusercontent.com/5012592/177312544-05767faf-63ad-43d1-ae2a-21322eed3a3d.png)

[2022-07-14 10:28] dadixon opened #214 "Multiline chart with different amounts of points not working"
I have a multiple line chart working from the demo but the graph I need to create has 1 line with 12 points and another with only 8. When I try this, the shorter graph is stretched and I don't want this behavior. Is that possible?

[2022-07-14 10:43] dadixon commented on #214
`let data = MultiLineDataSet(dataSets: [
            LineDataSet(
                dataPoints: [
                    LineChartDataPoint(value: 4.3,  xAxisLabel: "7/13", description: "Saturday, July 9, 00:00 GMT"),
                    LineChartDataPoint(value: 4.5,  xAxisLabel: "F", description: "February"),
                    LineChartDataPoint(value: 6.9,  xAxisLabel: "M", description: "March"),

[2022-07-18 18:02] mvolkmann opened #215 "LineChart error when all data points have same value"
When all my data points have the same value, I get an error from `LineChart`.
Changing one of the values to zero makes the error go away.
I wonder if this happens because it cannot calculate the y-axis range to use.
I'd like to try setting the minimum value of the y-axis to zero to see if that makes the error go away.
How can I do that?

Here is the error I get:

[code]

[2022-07-19 07:56] erdemildiz commented on #212
@willdale Could you help me?

[2022-07-25 08:51] Albinzr commented on #94
Can you give a simple example for this if possible

[2022-07-26 18:29] brentkevern commented on #215
I bumped into this too.  In my case, it was related to the LineChartStyle and specifically when the baseline and the topline were the same, the CALayer error occurs.  In my case, I had the following as part of the chartStyle...

                                        baseline            : .minimumWithMaximum(of: smallestValue),
                                        topLine             : .maximu

[2022-08-02 16:17] mvolkmann commented on #154
I do see this issue on real devices.

[2022-08-03 16:11] mvolkmann commented on #154
Actually, I see this issue regardless of whether I call `.pointMarkers`. My chart displays x-axis labels initially. But all subsequent charts I display are missing the x-axis labels until I drag the left edge of the screen to the right a bit and let go. Then the labels appear.

[2022-08-05 05:20] SpaceGrey opened #216 "chart doesn't respond to view transition modifier"
for example, I have a view switcher like this
[code]
the chart in the result view won't conform to the animation, how to solve this problem?

[2022-08-08 07:23] Vincz commented on #198
Hi @willdale! So I managed to get the result I wanted (by duplicating the code) !

![Screenshot 2022-08-08 at 09 02 05](https://user-images.githubusercontent.com/400525/183358786-f9c2c0f5-d6aa-4c58-a8a3-26e6023b75e7.png)

Both the `fill` of the `PieChart` and the `stroke` of the `DoughnutChart` accept a `Color` or a `Gradient`.
I wanted to make a PR, but I have the following problems:

1. How to a

[2022-08-11 14:16] AvdLee opened #217 "Invalid frame dimension (negative or non-finite)"
See:

![CleanShot 2022-08-11 at 16 13 36@2x](https://user-images.githubusercontent.com/4329185/184153882-1338ba72-bb65-419e-8eae-e5614fcf9fa1.jpg)

Xcode 14 shows these as purple warnings, whereas Xcode 13 only shows them as system logs.

The affected method:

![CleanShot 2022-08-11 at 16 14 10@2x](https://user-images.githubusercontent.com/4329185/184154102-99c5d60a-ab8b-4a45-9bb5-996ba2d7970e.jpg

[2022-08-16 09:58] owenzhao opened #218 "Chart Values Under 0 were shown as Transparent Color on 2.10.1"
[code]

<img width="795" alt="issue_chart" src="https://user-images.githubusercontent.com/2182896/184852214-7d3c68ae-1b31-4bbe-927b-b0013058ecfa.png">

The issue is new, as 2.10.0 worked fine.

[2022-08-24 18:06] mvolkmann opened #219 "y-axis labels only integers"
I am displaying a line chart where values are all 0, 1, 2, 3, or 4.
SwiftUICharts wants to display the following y-axis labels when I set maximumFractionDigits in the formatter to 1: 0, 0.7, 1.3, 2, 2.7, 3.3, and 4.
Is there a way I can tell it only use the y-axis labels 0, 1, 2, 3, and 4?

[2022-08-24 20:16] mvolkmann commented on #219
If I see maximumFractionDigits to zero, I get the y-axis labels 0, 1, 1, 2, 3, 3, and 4.

[2022-08-26 14:18] AvdLee commented on #218
Ah, thanks for pointing out 2.10.0 works fine! I thought it was related to my reported issue: https://github.com/willdale/SwiftUICharts/issues/217

Fixed the version to 2.10.0 and solved my issue for now at least 💪

[2022-08-26 23:26] owenzhao commented on #218
Thank you for your reply and thank again for this useful framework.

For the purple warning, in my opinion, it means something that has not been officially supported. For example, if you enable one sheet inside another sheet. A purple waring showed says multiple sheets was not supported. But the app works as expected. The first  sheet closes and the second sheet shows.

[2022-09-02 06:51] Wini974 opened #220 "Usage of arrays of double"
Hi,
I would like to code a **Linechart** (one line).
In my project, the Y and X data are each an array of double.
Regarding the version 1 of SwiftUICharts, it worked find for me.
But with the version 2, I don't know how to code **Chardata** when X & Y data are arrays.
Thanks a lot for your help.
Jean-Francois

[2022-09-05 01:40] AndreMuis opened #222 "No x-axis labels in macOS app"
Using the example code from GitHub. I guess because I'm running it on macOS.

<img width="912" alt="Screen Shot 2022-09-04 at 6 36 26 PM" src="https://user-images.githubusercontent.com/920149/188343757-ad3f6957-1843-4f8d-ba65-dcd1c6a39174.png">

[2022-09-15 09:47] AvdLee commented on #218
Don't give me the credits, I didn't create this framework! I just happened to have the same issue as you experienced

[2022-09-27 18:29] paulz commented on #124
we are also seeing this performance hit and `.drawingGroup()` did not help immediately

[code]

looks like
[code]
is slow on device (not simulator) when we have 1000 points

[2022-09-28 15:23] mvolkmann opened #223 "Publishing changes from within view updates is not allowed"
I get that warning from LineChartData.swift.
The `@Published` properties where this happens are `viewData` and `infoView`.

[2022-09-28 15:55] mvolkmann commented on #223
See https://www.donnywals.com/xcode-14-publishing-changes-from-within-view-updates-is-not-allowed-this-will-cause-undefined-behavior/.

[2022-09-28 16:11] mvolkmann commented on #223
I tried running my app in Xcode 14 beta 3 and these warnings did not go away.

[2022-09-28 16:12] mvolkmann commented on #223
I get a total of 420 warnings (all the same issue) in my app from displaying one line chart. This makes it difficult to find the output of my `print` statements.

[2022-09-28 18:36] mvolkmann opened #224 "how to use custom y-axis labels"
So far I have been using computed y-axis labels by calling `.yAxisLabels(chartData: chartData)` on an instance of `LineChart`.
Now I would like to use custom labels that I determine.
I am setting the `yAxisLabels` property in my call to the `LineChartData` initializer to an array of strings.
But those labels don't appear.
What do I need to do to get it use my labels instead of the computed ones?

[2022-09-29 15:21] mvolkmann commented on #224
I learned that three things are required to use custom y-axis labels:

1) In the call to the `LineChartStyle` initializer call, include `yAxisLabelType: .custom,`
2) In the `LineChartData` initializer call, include `yAxisLabels: myLabels,` where `myLabels is an array of strings.
3) After the `LineChart` initializer call, include the view modifier `.yAxisLabels(chartData: myChartData, ...)`

[2022-09-30 13:35] #224 closed

[2022-10-20 14:30] rohdester opened #225 "Any way to add panning"
Hi there

Thanks for this awesome SDK. I really like it. ❤️
I would like to hear, if there is some way of adding panning-support to a graph? Any plans for it? Any ideas how one would go about it?

Again thanks for the great work 🙌

[2022-10-29 23:33] owenzhao opened #226 "Publishing changes from within view updates is not allowed, this will cause undefined behavior."
After upgrading to Ventura, I got this purple alert a lot. Xcode 14.1 RC2.

<img width="2160" alt="截屏2022-10-30 07 31 15" src="https://user-images.githubusercontent.com/2182896/198856266-599ce974-7355-43db-b8e9-8242f973a2f3.png">

SwiftUICharts 2.10.0.

[2022-10-30 04:37] longvudai commented on #226
<img width="1864" alt="Screenshot 2022-10-30 at 11 37 13" src="https://user-images.githubusercontent.com/32995348/198862817-6316f7d5-c940-4cfd-a962-1f1fb6629f9a.png">

I have the same problem

[2022-11-15 12:24] mehroozkhan opened #227 "Labels Positioning Issue"
Hi, is there any way i can achieve this output?

![Screenshot 2022-11-15 at 4 57 21 PM](https://user-images.githubusercontent.com/17316374/201915270-8adbdacd-8d7e-4740-b7a2-e7aa1c6ce364.png)

I have made it almost work but confused about the labels position above point markers.

![Screenshot 2022-11-15 at 5 05 05 PM](https://user-images.githubusercontent.com/17316374/201915780-47f1b1bd-6acb-4f26-a

[2022-11-17 08:55] mehroozkhan commented on #226
same here.